@model LMPlatform.UI.ViewModels.KnowledgeTestingViewModels.QuestionItemListViewModel
<li class="list-group-item">
    @Html.CheckBoxFor(model => model.Selected)
    @Html.HiddenFor(model => model.Id)
    @Model.Title
</li>
