@{
    ViewBag.Title = "Методические материалы";
}

@*@foreach (var subject in ViewBag.folders)
{
	<a href="#"> @subject.Name</a>
}*@
  
@section css
{
    <link rel="stylesheet" href="/Content/docs.min.css">
    <link rel="stylesheet" href="/Content/materials.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/materialsApp")
}

@section headerTitle
{
	<h1>@ViewBag.Folder.Name</h1>
}

@section navleft
{
    <li style="cursor:pointer;" ng-click="backspaceFolder()" ><a class="linkNavbar"><i class="fa fa-arrow-left"></i>Назад</a></li>
    <li><a href="/Lms" class="linkNavbar"><i class="fa fa-reply fa-tab"></i>В главное меню</a></li>
}
<div ng-view></div>
