@{
    ViewBag.Title = "Методические материалы";
}

@*@foreach (var subject in ViewBag.folders)
{
	<a href="#"> @subject.Name</a>
}*@
  
@section css
{
    <link rel="stylesheet" href="/Content/docs.min.css">
    <link rel="stylesheet" href="/Content/materials.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/materialsApp")
}

@section navleft
{
           <li><a href="/Materials/New" class="linkNavbar"><i class="fa fa-plus"></i>Создать новый материал</a></li>
}
<div ng-view></div>
