@{
    ViewBag.Title = "Методические материалы";
}

@*@foreach (var subject in ViewBag.folders)
{
	<a href="#"> @subject.Name</a>
}*@
  
@section css
{
    <link rel="stylesheet" href="/Content/docs.min.css">
    <link rel="stylesheet" href="/Content/materials.css">
}

@section scripts
{
    <script src="/Scripts/application/Messages/msgModule.js" type="text/javascript"></script>
}
<div class="bs-docs-section">
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfh</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfh</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
          <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
          <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
          <li>
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="glyphicon-class">NJdfdasdah</span>
        </li>
    </ul>
</div>
    </div>