@{
    ViewBag.Title = "Создание новых материалов";
}

  
@section css
{
    <link rel="stylesheet" href="/Content/docs.min.css">
    <link rel="stylesheet" href="/Content/materials.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/materialsApp")
}

@section navleft
{
           <li><a href="/Lms" class="linkNavbar"><i class="fa fa-reply fa-tab"></i>В главное меню</a></li>
}


<div ng-controller="newCtrl">
    <style>
        .content {
            padding: 0px;
        }
        .right-side > .content-header {
            padding: 0px;
        }
    </style>


    <form method="post" action="somepage">
        <textarea style="padding:0px;"></textarea>
    </form>
</div>
