@{
    ViewBag.Title = "Создание новых материалов";
}

  
@section css
{
    <link rel="stylesheet" href="/Content/docs.min.css">
    <link rel="stylesheet" href="/Content/materials.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/materialsApp")
}

@section navleft
{
           
}


<div>
    <style>
        .content {
            padding: 0px;
        }
        .right-side > .content-header {
            padding: 0px;
        }
        .sidebar-menu > li{
            overflow: auto;
            list-style: circle;
            cursor:pointer;
        }
        .sidebar-menu h1, .sidebar-menu h2, .sidebar-menu h3, .sidebar-menu h4, .sidebar-menu h5, .sidebar-menu h6{
            font-size: 14px;
            font-weight: normal;
            margin: 5px;
        }
        .sidebar-menu h1 {
            padding-left:5px;
        }
        .sidebar-menu h2 {
            padding-left:15px;
        }
        .sidebar-menu h3 {
            padding-left:25px;
        }
        .sidebar-menu h4 {
            padding-left:35px;
        }
        .sidebar-menu h5 {
            padding-left:45px;
        }
        .sidebar-menu h6 {
            padding-left:55px;
        }
    </style>

    @if (User.IsInRole("lector"))
    {
        <div ng-init="user='lector'"></div>
    }
    else
    {
        <div ng-init="user='student'"></div>
    }

    <form method="post" action="somepage">
        <textarea style="padding:0px;"></textarea>
    </form>
</div>
