/packages

/Application.Core.UI/bin/Debug

/Application.Core.UI/obj/Debug

/Application.Core/bin/Debug
/Application.Core/obj/Debug
/Application.Infrastructure/bin/Debug
/LMPlatform.Data/bin/Debug

/Application.Infrastructure/obj/Debug
/LMPlatform.Data/obj/Debug
/LMPlatform.Models/bin/Debug
/LMPlatform.Models/obj/Debug

/LMPlatform.UI/bin

/LMPlatform.UI/obj/Debug

/LMPlatform.WebAPI/bin/Debug

/SCORMHost/bin/Debug

/SCORMHost/obj/Debug

/LMPlatform.WebAPI/obj/Debug


/Application.Core.UI/bin/Release

/Application.Core/bin/Release

/Application.Infrastructure/bin/Release
/Application.Infrastructure/obj/Release

/Application.SearchEngine/bin/Debug

/Application.Core.UI/obj/Release
/Application.Core/obj/Release

/Application.SearchEngine/bin/Release

/Application.SearchEngine/obj/Debug
/Application.SearchEngine/obj/Release

/SCORMHost/obj/Release

/LMPlatform.Data/bin/Release

/LMPlatform.Models/bin/Release

/LMPlatform.Data/obj/Release

/LMPlatform.Models/obj/Release

/LMPlatform.UI/obj/Release
