/packages

/Application.Core.UI/bin/Debug

/Application.Core.UI/obj/Debug

/Application.Core/bin/Debug
/Application.Core/obj/Debug
/Application.Infrastructure/bin/Debug
/LMPlatform.Data/bin/Debug

/Application.Infrastructure/obj/Debug
/LMPlatform.Data/obj/Debug
/LMPlatform.Models/bin/Debug
/LMPlatform.Models/obj/Debug

/LMPlatform.UI/bin

/LMPlatform.UI/obj/Debug

/LMPlatform.WebAPI/bin/Debug

/SCORMHost/bin/Debug

/SCORMHost/obj/Debug

/LMPlatform.WebAPI/obj/Debug
