<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close">×</button>
    <h4 class="modal-title">
        <i class="fa fa-envelope"></i>
        {{displayMessage.Subject}}
    </h4>
</div>
<div id="displayMsg">
    <div class="display-msg">
        <div class="control-section">
            <div class="author-name">
                <a ng-click="replay()">
                    {{displayMessage.AthorName}}
                </a>
            </div>

            <div>
                <label>Отправлено:</label>{{displayMessage.Date}}
            </div>
            <div>
                <label>Кому:</label>
                <span class="recip-name" ng-repeat="name in displayMessage.Recipients"><i class="fa fa-user"></i>{{name}}</span>
            </div>
            <div>
                <span class="attach-link" ng-repeat="attach in displayMessage.Attachments">
                    <a href="/api/Upload/DowloadFile?fileName={{attach.PathName}}/{{attach.FileName}}">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        {{attach.Name}}
                    </a>
                </span>
            </div>
        </div>
        <div class="msg-body">
            {{displayMessage.Body}}
        </div>
    </div>

    <div class="modal-footer" ng-if="displayMessage.currentUserId != displayMessage.AthorId">
        <button ng-click="replay()" class=" btn btn-primary btn-sm">Ответить</button>
    </div>
</div>
