<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close">×</button>
    <h4 class="modal-title">
        <i class="fa fa-envelope"></i>
        {{displayMessage.Subject}}
    </h4>
</div>
<div id="displayMsg">
    <div class="display-msg">
        <a ng-click="replay()">
            <div class="author-name">{{displayMessage.AthorName}}</div>
        </a>
        <div>
            <label>Отправлено:</label>{{displayMessage.Date}}
        </div>
        <div>
            <label>Кому:</label>
            <span class="recip-name" ng-repeat="name in displayMessage.Recipients"><i class="fa fa-user"></i>{{name}}</span>
        </div>
        <div>
            <span class="attach-link" ng-repeat="attach in displayMessage.Attachments">
                <a href="/api/Upload/DowloadFile?fileName={{attach.PathName}}/{{attach.FileName}}">
                    <span class="glyphicon glyphicon-paperclip"></span>
                    {{attach.Name}}
                </a>
            </span>
        </div>
        <div class="msg-body">
            {{displayMessage.Body}}
        </div>
    </div>
</div>
