@using System.Web.UI.WebControls

<div class="modal-header">
    <button type="button" ng-click="cancelModal()" class="close">×</button>
    <h4 class="modal-title">
        @*<i class="fa fa-envelope"></i>*@
        Отправка сообщения
    </h4>
</div>
<div class="form-msg" id="msgForm">
    <form name="msgForm" ng-submit="send()" ng-controller="FormMsgCtrl" novalidate>
		<div class="bs-callout bs-callout-danger" ng-show="submitted && msgForm.$invalid">
			<h4>Ошибка!</h4>
			<ul>
				<li ng-show="submitted && msgForm.msgFormRecipients.$error.required">Выберите получателя</li>
			</ul>
		</div>
        <div>
            <hgroup style="text-align: center; margin-bottom: 20px"></hgroup>
            <div>
                <label>Кому</label>
                <select data-placeholder="Введите имя получателя..." multiple class="span4" ajax-chosen="recipientsList" name="msgFormRecipients" ng-model="formData.recipients"
                        ng-options="recipient.text for recipient in recipientsList" required></select>
                <p></p>
            </div>
            <div>
                <label>Тема</label>
                <input type="text" class="form-control" name="msgFormSubject" ng-model="formData.subject" />
            </div>
            <div>
                <label>Сообщение</label>
                <textarea class="form-control" name="msgFormBody" ng-model="formData.body"></textarea>
                <p></p>
                <p></p>
            </div>
            <div style="width: 60%">
                @Html.Partial("Common/_FilesUploader", new List<LMPlatform.Models.Attachment>())
            </div>
        </div>

        <div class="modal-footer">
            <input ng-click="cancelModal()" type="button" class="btn btn-sm bootbox-close-button" value="Отмена" style="width: auto" />
            <input type="submit" class="btn btn-primary btn-sm" value="Отправить" style="width: auto" />
        </div>
    </form>
</div>


