@using System.Web.UI.WebControls

<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close">×</button>
    <h4 class="modal-title">
        <i class="fa fa-envelope"></i>
        Отправка сообщения
    </h4>
</div>
<div id="msgForm">
    @using (Html.BeginForm("WriteMessage", "Message", FormMethod.Post))
    {
        <div>
            <hgroup style="text-align: center; margin-bottom: 20px"></hgroup>
            <div>
                <label>Кому:</label>
                <select data-placeholder="Введите имя получателя..." multiple class="span4 chzn-select" ajax-chosen="recipientsList" chosen="recipientsList"
                    ng-model="recipients" ng-options="recipient.text for recipient in recipientsList">
                </select>
                <p ng-repeat="recipient in recipients"><strong>{{recipient.name}}</strong></p>
                @*<select data-placeholder="Введите имя получателя..." class="form-control chosen-select-a"></select>*@
                <p></p>
            </div>
            <div>
                <label>Тема:</label>
                <input type="text" class="form-control" ng-model="formMsg.Subject" />
            </div>
            <div>
                <label>Сообщение:</label>
                <textarea class="form-control" ng-model="formMsg.Body"></textarea>
                <p></p>
                <p></p>
            </div>
            <div style="width: 60%">
                @Html.Partial("Common/_FilesUploader", new List<LMPlatform.Models.Attachment>())
            </div>
            <input type="submit" style="display: none" />
        </div>
    }

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>


