
<div ng-controller="RepoController" ng-init="initRepo('0','@WebSecurity.CurrentUserId')">
    <h1 ng-cloak>{{subject.Name}} <small>{{Title}}</small></h1>
    <div style="margin-bottom: 15px; margin-top: 15px;">
        <table>
            <tbody>
                <tr>
                    <td style="padding-right: 15px">
                        <select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
                    </td>
                    <td style="margin-top: 5px">
                        <a ng-click="saveZip()" class="fa fa-download fa-1x" style="margin-right: 15px; color: #6B8E23" tooltip="Скачать архивом">
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px">
        <accordion>
            <accordion-group ng-repeat="data in groupWorkingData.selectedGroup.StudentsFiles">
                <accordion-heading>
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" style="float: left">{{data.FullName}}</a>
                    </h4>
                    <div class="clear-fix"></div>
                </accordion-heading>
                <div>
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>Файлы</th>
                                <th>Комментарии</th>
                                <th>Дата</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="files.IsReceived" ng-repeat="files in data.FileLabs" ng-style="{'background-color': '#befbc2'}">
                                <td>
                                    <div ng-repeat="file in files.Attachments">
                                        <a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="file.Name" download="file.Name">{{file.Name}}</a>
                                    </div>
                                </td>
                                <td>{{files.Comments}}</td>
                                <td>{{files.Date}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>




