
@{
    Layout = "";
	ViewBag.Title = "Краткая информация о системе";
}

<!DOCTYPE html>

<html lang="en" class=" js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.header-faq {
			background-color: #3c8dbc;
			height: 300px;
		}
		.header-faq .text-center {
			text-align: center;
			font-size: 30px;
			padding-top:50px
		}
	</style>	
</head>
<body style="    margin: 0;">
	<header class="header-faq">
		<div class="text-center">
			<h1 style="color:white">Краткая информация о системе</h1>
			<a style="color:white" href="@Url.Action("Index", "Main")">Главная страница</a>
		</div>
	</header>
	<div class="container" style="margin:auto; max-width: 900px; text-align: justify; box-shadow: 0 0 5px rgba(0,0,0,0.5); padding: 20px; margin-top:10px">
		<p>Обучающая система <b>CATS</b> предназначена для повышения качества подготовки специалистов дневной и заочной форм обучения, а также для самостоятельной работы. С точки зрения функциональных возможностей предлагаемая система поддерживает работу в 4 ролях: администратор, преподаватель, студент и наблюдатель.  Рассмотрим более подробно возможности работы в каждой роли, принимая во внимание, что первые три подлежат аутентификации.</p>
		<p>Для администратора системы доступны следующие функциональные возможности: </p>
		<ul>
			<li>создание\редактирование\удаление студенческих групп, преподавателей, студентов; </li>
			<li>просмотр статистики аутентификации в систему пользователями;</li>
			<li>просмотр информации по составу групп и изучаемых ими предметах;</li>
			<li>сброс пароля пользователям (данная функциональность необходима для случаев, когда пользователь системы забыл свой пароль доступа);</li>
			<li>обмен сообщениями с пользователями;</li>
		</ul>
		<p>В роли преподавателя возможны следующие функциональности:</p>
		<ul>
			<li>создание\редактирование\удаление предметов;</li>
			<li>формирование предмета из предлагаемых блоков: новости, лекции, практические занятия, лабораторные работы, хранилище файлов с учебными материалами для скачивания, курсовые проекты, тестирование знаний, электронный учебно-методический комплекс (ЭУМК);</li>
			<li>прикрепление групп к предметам, разделение студентов на подгруппы (если требуется для лабораторных работ);</li>
			<li>организация проведения лекционных и практических занятий с прикреплением заданий и требуемых материалов, ведением электронного журнала, формированием графика защиты работ, расчета рейтинговой оценки по предмету;</li>
			<li>проверка присланных работ на плагиат вследствие сравнения их с работами, хранящимися в архиве текущего и прошлых семестров. В системе CATS поиск заимствованных работ реализован как для каждой отдельной присланной работы обучающегося, так и для всей группы сразу посредством применения кластерного анализа текстовой информации;</li>
			<li>формирование тестов для контроля и самоконтроля знаний студентов (предусмотрены вопросы, имеющие один правильный вариант ответа, несколько правильных вариантов ответа, вопросы на последовательность и ввод правильного ответа с клавиатуры), организация проведения автоматизированного тестирования, ведение статистики результатов пройденных тестов;</li>
			<li>организация курсового и дипломного проектирования, назначение\подтверждение тем проектов, автоматическая генерация листов заданий к проектам с последующим экспортом в редактор MS Word, формирование графиков консультаций и процентовок выполнения, проверка присланных работ на плагиат;</li>
			<li>использование SCO- и TinCan-объектов, созданных по технологиям SCORM и TinCanApi в других системах управления обучением;</li>
			<li>создание ЭУМК с автоматическим формированием учебной карты и возможностью вставки графической информации, аудио, видео, анимации, а также со встроенным модулем для мониторинга процесса изучения предлагаемого материала студентами;</li>
			<li>адаптивность обучения для определения пробелов в знаниях обучающегося и построение его индивидуальной траектории обучения;</li>
			<li>обмен сообщениями с пользователями системы (администратором, преподавателями и студентами);</li>
			<li>организация работы в системе документирования и отслеживания ошибок при разработке программного обеспечения (создание\редактирование\удаление проектов, закрепление за ними разработчиков и тестировщиков, составление отчетов о найденных ошибках в тестируемых программах, изменение статусов ошибок). Данная функциональность предназначена для подготовки студентов-программистов.</li>
		</ul>
		<p>В роли студента доступен следующий набор функциональности:</p>
		<ul>
			<li>просмотр\скачивание всей предоставленной информации (расписания занятий, новостей, заданий и т.д. по учебным дисциплинам);</li>
			<li>изучение учебно-методических материалов в ЭУМК;</li>
			<li>прохождение тестов для контроля знаний, самообучения и адаптивного обучения;</li>
			<li>отправка отчетов по лабораторным и практическим работам на защиту;</li>
			<li>выбор тем для курсового и дипломного проектирования, отслеживание процентовок выполнения проектов;</li>
			<li>просмотр SCO- и TinCan-объектов и прохождение встроенных в него тестов;</li>
			<li>обмен сообщениями с преподавателями и администратором;</li>
			<li>документирование и изменение статусов ошибок в BTS, чат по проекту (функциональность используется для подготовки студентов-программистов).</li>
		</ul>
		<p>В роли наблюдателя реализована, так называемая   функциональность «родительский контроль», позволяющая родителям студентов, работникам деканата и кафедры посмотреть интересующую их информацию о результативности учебного процесса: количество пропущенных занятий, количество защищенных работ, оценки за тесты, рейтинговые оценки студентов и др. Для этого не надо проходить авторизацию в системе, а лишь ввести номер интересующей группы. </p>
<br /><p>Адрес для поддержки системы и интересующих вопросов: </p><p><b>support@educats.by</b></p>
	</div>	
</body>
</html>
