<script type="text/html" id="hasOneCorrectVariantTemplate">
    <div class="row">
        <input type="radio" data-bind="checked: IsCorrect" class="col-lg-1" style="height: 29px">
        <div class=" col-lg-10">
            <input type="text" data-bind="value: Content" class="form-control input-sm" /></div>

        <div class=" col-lg-1" style="margin-top: 10px;">
            <a href="#" >
                <span class="glyphicon glyphicon-trash deleteAnswer"></span>
            </a>
        </div>
    </div>
</script>
