@{
    Layout = "~/Views/Shared/_BootBoxTemplate.cshtml";
}

@section title
{
    <div class="modal-title" style="font-size: 14px;">Выберите тип вопроса</div>
}

@section content{
    <div class="row">
        <div class="col-lg-6">
            <div class="">
            <a href="#" id="hasOneCorrectVariant" class="questionTypeButton">
                <div class="row"><span class="fa fa-dot-circle-o fa-3x"></span></div>
                <div class="row"><span style="font-size: 20px;">С одним вариантом ответа</span></div>
                
            </a></div>
        </div>
        <div class="col-lg-6 ">
             <div class="">
            <a href="#" id="hasManyCorrectVariants" class="questionTypeButton">
                <div class="row"><span class="fa fa-check-square-o fa-3x "></span></div>
                <div class="row">
                    <span style="font-size: 20px;">С несколькими ответами
                    </span>
                </div>
            </a></div>
        </div>
        <div class="col-lg-6 ">
             <div class="">
            <a href="#" id="hasTextVariants" class="questionTypeButton">
                <div class="row"><span class="fa fa-comment-o fa-3x"></span></div>

                <div class="row"><span style="font-size: 20px;">Без вариантов ответа</span></div>
            </a></div>
        </div>
        <div class="col-lg-6 ">
             <div class="">
            <a href="#" id="sequenceVariants" class="questionTypeButton">
                <div class="row"><span class="fa fa-list-ol fa-3x "></span></div>
                <div class="row">
                    <span style="font-size: 20px;">На последовательность</span>
                </div>
            </a> </div>
        </div>
    </div>
}


