@model int
<div name="questionGridActionsCol">
    <a href="#" class="editButton" style="margin-right: 10px">
        <span class="fa fa-edit fa-2x" data-model-id='@Model' />
    </a>
    <a href="#" class="deleteButton">
        <span class="fa fa-trash-o fa-2x" data-model-id='@Model' />
    </a>
</div>
