@{
    Layout = "~/Views/Shared/_BootBoxTemplate.cshtml";
}

@model  IEnumerable<LMPlatform.UI.ViewModels.KnowledgeTestingViewModels.TestItemListViewModel>

@section title
{
    <div class="modal-title" style="font-size: 14px;"><span class="fa fa-question fa-2x">&nbsp;Добавить вопрос из другого теста</span></div>
}

@section content{
    @using (Ajax.BeginForm("GetQuestionsSelector", "Questions", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "searchResults"
        }, new
        {
            id = "selectorFilterForm"
        }))
    {
        <div class="row">
            <div class="col-lg-6">
                @Html.DropDownList("testId", Model.Select(test => new SelectListItem { Value = test.Id.ToString(), Text = test.Title }), new
            {
                id = "testNamesDropdown"
            })
            </div>
            <div class="col-lg-6">
                <input name="searchString" id="selectorSearchString" class="form-control input-sm" type="text">
            </div>
        </div>
    }
    <div id="searchResults"></div>
}

@section footer {
    <button type="button" id="cancelButton" class="btn btn-primary btn-sm" data-dismiss="modal">Отмена</button>
    <button type="button" id="insertQuestionsFromAnotherTestButton" class="btn btn-primary btn-sm">Вставить</button>
}