@{
    Layout = "~/Views/Shared/_BootBoxTemplate.cshtml";
}

@model  IEnumerable<LMPlatform.Models.Group>

@section title
{
    <div class="modal-title" style="font-size: 14px;">Доступность теста</div>
}

@section content{
    @using (Ajax.BeginForm("GetUnlockResults", "Tests", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "searchResults",
            OnSuccess = "questionUnlocksLoaded",

        }, new
        {
            id = "selectorFilterForm"
        }))
    {
        <div class="row">
            <div class="col-lg-6">
                @Html.DropDownList("groupId", Model.Select(group => new SelectListItem { Value = group.Id.ToString(), Text = group.Name }), new
                {
                    id = "testNamesDropdown",
                    style = "width: 100%; height:30px; margin-top:5px;",
                    @class = "form-control"
                })
            </div>
            <div class="col-lg-6">
                <input name="searchString" id="selectorSearchString" class="form-control input-sm" type="text">
            </div>
</div>
            <div class="row">
                <div style="margin: 10px 20px" >
                    <a id="unlockAllStudents">Открыть для всех</a>/
                    <a id="lockAllStudents">Закрыть для всех</a>
                </div>
            </div>
        
        <input type="hidden" id="testIdOnUnlockForm" name="testId"/>
    }
    <div id="searchResults"></div>
}

@section footer {
    <button type="button" id="unlockCancelButton" class="btn btn-primary btn-sm" data-dismiss="modal">К тестам</button>
}