@model int

<li><a href="@Url.Action("Index", "Tests", new { subjectId = Model })" class="linkNavbar"><i class="fa fa-pencil-square-o fa-1x"></i>&nbsp; Тесты</a></li>
<li><a href="@Url.Action("RealTimePassingForTest", "TestPassing", new { subjectId = Model })" class="linkNavbar"><i class="fa fa-eye fa-1x"></i>&nbsp; Контроль прохождения тестов</a></li>
<li><a href="@Url.Action("TestResults", "TestPassing", new { subjectId = Model })" class="linkNavbar"><i class="fa fa-tasks fa-1x"></i>&nbsp; Результаты</a></li>
<li><a href="@Url.Action("Index", "Lms")" class="linkNavbar"><i class="fa fa-1x fa-reply fa-tab"></i>&nbsp;В главное меню</a></li>

