@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers

@model int

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/Layouts/_MainUsingNavLectorLayout.cshtml";
}


@section scripts
{
    @Scripts.Render("~/bundles/datatable", "~/bundles/knockoutBundles")
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestsResultsListScript.js",
                "~/Scripts/linq.js")
}

@section navleft
{
    @Html.Partial("_TestsLeftPanel", Model)
}

<h3>Результаты тестов
</h3>
<hr />
<div>

    <div>
        @Html.Partial("_DataTable", new DataTableViewModel
        {
            DataTable = Html.DataTable("testResultsList", (TestsController controller) => controller.GetTestsTesults(null, 0),
            new { groupId = 1 }),
            DataTableOptions = new DataTableOptions
            {
                Filterable = true,
                Info = true,
                Pagination = false,
                Searchable = true,
                Sortable = false,
                OnComplete = "initTestResultsList"
            }
        })
    </div>
</div>
