<div ng-controller="LecturesController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

    <tabset>
        <tab heading="Лекции">
            <div id="navPanel" style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a ng-click="addLectures()" style="margin-right: 10px" class="btn btn-primary btn-sm">Добавить лекцию</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Тема</th>
                            <th>Часы</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in lectures">
                        <td>{{data.Order}}</td>
                        <td>{{data.Theme}}</td>
                        <td>{{data.Duration}}</td>
                        <td style="width: 78px;">
                            <div>
                                <a ng-click="editLectures(data)" style="margin-right: 10px"><i class="editLecturesButton fa fa-edit fa-2x"></i></a>
                                <a ng-click="deleteLectures(data)"><i class="deleteLecturesButton fa fa-trash-o fa-2x"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Посещение лекций">Посещение лекций</tab>
    </tabset>



    <div id="dialogAddLectures" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{editLecturesData.TitleForm}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Тема лекции</label>
                        <textarea class="form-control" style="width: 545px" ng-model="editLecturesData.Theme"></textarea>
                    </div>
                    <div>
                        <label class="control-label">Количество часов (1-99)</label>
                        <input type="text" style="width: 545px" ng-model="editLecturesData.Duration" />
                    </div>
                </div>
                <div>
                    <h4 class="page-header">Прикрепленный материал</h4>
                    <div id="lecturesFile">
                        @*@Html.Partial("Common/_FilesUploader", Model.Attachments.ToList())*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a href="#" class="btn btn-primary btn-sm" ng-click="saveLectures()" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>

</div>
