<div ng-controller="LecturesController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

    <tabset>
        <tab heading="Лекции">
            <div id="navPanel" style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a ng-click="addLectures()" style="margin-right: 10px" class="btn btn-primary btn-sm">Добавить лекцию</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Тема</th>
                            <th>Часы</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in lectures">
                        <td>{{data.Order}}</td>
                        <td>{{data.Theme}}</td>
                        <td>{{data.Duration}}</td>
                        <td style="width: 90px;">
                            <div>
                                <a ng-click="editLectures(data)" style="margin-right: 10px"><i class="editLecturesButton fa fa-edit fa-2x"></i></a>
                                <a ng-click="deleteLectures(data)"><i class="deleteLecturesButton fa fa-trash-o fa-2x"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Посещение лекций">
            <div id="navPanel" style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a ng-click="addSheduleVisitingGraph()" style="margin-right: 10px" class="btn btn-primary btn-sm">Управление рассписанием</a>
                                </div>
                            </td>
                            <td>
                                <select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
            <div>
                <div style="max-width: 1200px; overflow-x: auto;">
                    <table class="table table-bordered table-striped" style=" font-size: 10px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Студент</th>
                                <th ng-repeat="data in lecturesCalendar">
                                    <div style="cursor: pointer" ng-click="editMarks(data)">{{data.Date}}</div>
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="student in groupWorkingData.selectedGroup.LecturesMarkVisiting">
                            <td style="width: 40px">{{student.StudentId}}</td>
                            <td style="max-width: 200px">{{student.StudentName}}</td>
                            <td ng-repeat="data in student.Marks" style="text-align: center">{{data.Mark}}</td>
                        </tr>  
                    </table>
                </div>
            </div>
        </tab>
    </tabset>


    <div id="dialogAddLectures" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{editLecturesData.TitleForm}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Тема лекции</label>
                        <textarea class="form-control" style="width: 545px" ng-model="editLecturesData.Theme"></textarea>
                    </div>
                    <div>
                        <label class="control-label">Количество часов (1-99)</label>
                        <input type="text" style="width: 545px" ng-model="editLecturesData.Duration" />
                    </div>
                </div>
                <div>
                    <h4 class="page-header">Прикрепленный материал</h4>
                    <div id="lecturesFile">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a href="#" class="btn btn-primary btn-sm" ng-click="saveLectures()" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>

    <div id="dialogAddVisitData" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px; width: 350px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">График посещения</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Дата</label>
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width: 100%" />
                    </div>
                    <div>
                        <input ng-click="addDate()" type="button" class="btn btn-primary btn-sm" value="Добавить" style="width: 100%" />
                    </div>
                    <div>
                        <label class="control-label">График</label>
                        <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden">
                            <table class="table table-bordered table-striped">
                                <tr ng-repeat="data in lecturesCalendar">
                                    <td>
                                        <p>{{data.Date}}</p>
                                    </td>
                                    <td style="width: 20px"><a ng-click="" style="margin-right: 10px"><i class="fa fa-edit fa-2x"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>

    <div id="dialogEditMarks" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px; width: 350px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{editMarks.Date}}</h4>
            </div>
            <div class="modal-body">
                <div style="max-height: 600px; overflow-y: auto">
                    <table class="table table-bordered table-striped">
                        <tr ng-repeat="data in editMarks.StudentMarkForDate">
                            <td>
                                <p>{{data.StudentName}}</p>
                            </td>
                            <td>
                                <input ng-model="data.Mark" class="form-control" style="width: 50px; text-align: center" maxlength="1" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
                <a href="#" class="btn btn-primary btn-sm" id="saveButton" ng-click="saveMarks()" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>

</div>
