<h3>В данный момент тесты проходят:</h3>
<hr />

<div class="row">
    <div class="input-group input-group-sm col-lg-3 col-lg-offset-9" style="padding-right: 15px">
        <span style='display: table-cell; text-align: right'>Поиск&nbsp;</span>
        <input data-ng-model="query" type="text" class="form-control" style="margin: 0" placeholder="Введите имя студента">
    </div>

</div>

<div data-ng-repeat="item in items">
    <h4>{{item.Test}}</h4>
    <div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr data-ng-repeat="student in item.Students | filter : query">
                    <td style="border:none" width="250px">{{student.StudentName}}</td>
                    <td style="padding: 0; border:none" data-ng-repeat="res in student.PassResults track by $index">
                        <div style="text-align: center; margin-top: 10px;" tooltip="{{res == 0 ? 'Не пройден' : (res == 1 ? 'Правильный ответ' : 'Неправильный ответ')}}" data-ng-class="{'progress-notPassed': res == 0, 'progress-success': res == 1, 'progress-error': res == 2}">{{$index + 1}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
