<div class="modal-header">
    <a class="close" data-ng-click="closeDialog()">&times;</a>
    <h4>{{question.Title ? question.Title : 'Новый вопрос'}}</h4>
</div>
<div class="modal-body">
    <form data-ng-submit='saveTest()' name="testDetailsForm">
        

    </form>
</div>
<div class="modal-footer" style="margin: 0">
    <a data-ng-click="closeDialog()" class="btn btn-primary btn-sm">Отмена</a>
    <button type="submit" id="saveButton" class="btn btn-primary btn-sm">Сохранить</button>
</div>

