<div class="modal-header">
    <a class="close" data-ng-click="closeDialog()">&times;</a>
    <h4>Доступность теста</h4>
</div>
<div class="modal-body">
<style>
.loading {
    display: block;
    position: absolute;
    /* z-index: 100; */
    background-image: url(http://loadinggif.com/images/image-selection/3.gif);
    /* background-color: #757575; */
    opacity: 0.6;
    background-repeat: no-repeat;
    /* background-position: center; */
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin-left: 274px;
    margin-top: 80px;
		}
</style>
    <div class="row">
        <div class="col-md-6 ">
            <span style='display: table-cell; text-align: right; width: 20px'>Группы&nbsp;</span>
            <select data-ng-change="loadStudents()" class="form-control input-sm" data-ng-model="context.group" data-ng-options="group.Name for group in groups"></select>
        </div>
        <div class="col-md-6">
            <span style='display: table-cell; text-align: right'>Поиск&nbsp;</span>
            <input data-ng-model="query" type="text" class="form-control input-sm" style="margin: 0" placeholder="Введите фамилию, имя">
        </div>
    </div>
    <div style="height: 20px"></div>
    
	<div class="loading" ng-hide="subGroups.length > 0">
		<span us-spinner="{radius:40, width:8, length: 16, opacity: 0, shadow: true, color: '#3c8dbc'}" spinner-key="spinner-1" spinner-start-active="true"></span>
	</div>

    <div data-ng-repeat="subGroup in subGroups">
		<div class="row" ng-if="subGroup.Students.length > 0">
			<div class="col-lg-4">
				<h5>Подгруппа&nbsp;{{$index + 1}}</h5>
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-6">
				<a id="unlockAllStudents" ng-click="lockAll(subGroup, true)" class="btn btn-success btn-xs">Открыть для всех</a>
				<a id="lockAllStudents" ng-click="lockAll(subGroup, false)" class="btn btn-danger btn-xs">Закрыть для всех</a>
			</div>
		</div>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr data-ng-repeat="student in subGroup.Students | filter : query">
                    <td width="10px" style="border: none">{{$index + 1}}</td>
                    <td style="border: none" width="250px">{{student.Name}}</td>
                    <td ng-click="lockOne(student.Id, !student.Unlocked)" style="border: none; width: 20px"><a><i class="fa fa-1x" data-ng-class="{'fa-unlock': student.Unlocked, 'fa-lock': !student.Unlocked}"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer" style="margin: 0">
    <a data-ng-click="closeDialog()" class="btn btn-primary btn-sm">К тестам</a>
</div>

