<div class="modal-header">
    <a class="close" data-ng-click="closeDialog()">&times;</a>
    <h4>Доступность теста</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6 input-group input-group-sm">
            <span style='display: table-cell; text-align: right'>Группы&nbsp;</span>
            <select class="form-control input-xs" data-ng-model="context.group" data-ng-options="group.Name for group in groups"></select>
        </div>
        <div class="col-lg-6">Поиск</div>
        <button data-ng-click="loadStudents()">qweqweqweqweqwe</button>
    </div>
    <div></div>
</div>

