<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
.upload-test-content {
  position: relative;
  height: 40px;
}

 .upload-test-content > button {
  position: absolute;
  left: 0;
  top: 0;
}

.upload-test-content > input[type=file] {
  opacity: 0;
  position: fixed;
  left: -1000px;
}
.resButton {
    background-color: chocolate!important;
    border-color: chocolate!important;
}
</style>

<div class="row" data-ng-init="init()">
    <div class="col-lg-3">
        <a id="addNewTestButton" data-ng-click="onNewButtonClicked()" class="btn btn-primary btn-sm">Добавить тест</a>
        
         <a id="a1" data-ng-click="onUploadImage()" class="btn btn-primary btn-sm resButton">Ресурсы</a>
    </div>
    
    <div class="input-group input-group-sm search-box" style="padding-right: 15px; float: right">
        <span>Поиск&nbsp;</span>
        <input data-ng-model="query" type="text" class="form-control" placeholder="Введите название теста">
    </div>
</div>
<div style="margin-bottom: 15px"></div>
<div>
    <h4 style="margin-top: 20px;">Тесты для контроля знаний</h4>
</div>
<div style="margin-bottom: 15px"></div>
<div class="table-responsive">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="ui-state-default">
				<th>№</th>
				<th>Тема</th>
				<th>Действие</th>
			</tr>
		</thead>
        <tbody id="sortable">
			<tr data-ng-repeat="test in tests | filter:query | filter:{ForSelfStudy:false, BeforeEUMK: false, ForEUMK: false, ForNN: false }" class="ui-state-default">
				<td testid="{{test.Id}}" width="30px">{{tests.indexOf(test) + 1}}</td>
				<td>{{test.Title}}</td>
				<td style="width: 220px;">
					<div>
						<a data-toggle="tooltip" data-tooltip="Редактировать тест" data-tooltip-placement="left" data-ng-click="onEditButtonClicked(test.Id)" style="margin-right: 10px"><i class="fa fa-edit fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Удалить тест" data-tooltip-placement="left" data-ng-click="onDeleteButtonClicked(test.Id, test.Title)" style="margin-right: 10px"><i class="fa fa-trash-o fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Перейти к вопросам" data-tooltip-placement="left" data-ng-href="#/questions?testId={{test.Id}}&forSelfStudy={{test.ForSelfStudy}}&beforeEUMK={{test.BeforeEUMK}}&forEUMK={{test.ForEUMK}}&forNN={{test.ForNN}}" style="margin-right: 10px"><i class="fa fa-question fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Пройти тест" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-href="#/passing?testId={{test.Id}}" style="margin-right: 10px"><i class="fa fa-rocket fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Доступность теста" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-click="onUnlockButtonClicked(test.Id, test.Title)"><i class="fa fa-1x" ng-class="{'fa-unlock': test.Unlocked, 'fa-lock': !test.Unlocked}"></i></a>
					</div>
				</td>
			</tr>
        </tbody>
	</table>
</div>
<div style="margin-bottom: 15px"></div>
<div>
    <h4 style="margin-top: 20px;">Тесты для самоконтроля</h4>
</div>
<div style="margin-bottom: 15px"></div>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr class="ui-state-default">
                <th>№</th>
                <th>Тема</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="sortableForSelfStudy">
			<tr data-ng-repeat="test in tests | filter:query | filter:{ForSelfStudy:true} track by $index" class="ui-state-default">
				<td testid="{{test.Id}}" width="30px">{{$index + 1}}</td>
				<td>{{test.Title}}</td>
				<td style="width: 220px;">
					<div>
						<a data-toggle="tooltip" data-tooltip="Редактировать тест" data-tooltip-placement="left" data-ng-click="onEditButtonClicked(test.Id)" style="margin-right: 10px"><i class="fa fa-edit fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Удалить тест" data-tooltip-placement="left" data-ng-click="onDeleteButtonClicked(test.Id, test.Title)" style="margin-right: 10px"><i class="fa fa-trash-o fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Перейти к вопросам" data-tooltip-placement="left" data-ng-href="#/questions?testId={{test.Id}}&forSelfStudy={{test.ForSelfStudy}}&beforeEUMK={{test.BeforeEUMK}}&forEUMK={{test.ForEUMK}}&forNN={{test.ForNN}}" style="margin-right: 10px"><i class="fa fa-question fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Пройти тест" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-href="#/passing?testId={{test.Id}}" style="margin-right: 10px"><i class="fa fa-rocket fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Доступность теста" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-click="onUnlockButtonClicked(test.Id, test.Title)"><i class="fa fa-1x" ng-class="{'fa-unlock': test.Unlocked, 'fa-lock': !test.Unlocked}"></i></a>
					</div>
				</td>
			</tr>
        </tbody>
    </table>
</div>

<div style="margin-bottom: 15px"></div>
<div>
	<h4 style="margin-top: 20px;">Предтесты для обучения в ЭУМК </h4>
</div>
<div style="margin-bottom: 15px"></div>
<div class="table-responsive">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="ui-state-default">
				<th>№</th>
				<th>Тема</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody id="sortableForSelfStudy">
			<tr data-ng-repeat="test in tests | filter:query | filter:{BeforeEUMK:true} track by $index" class="ui-state-default">
				<td testid="{{test.Id}}" width="30px">{{$index + 1}}</td>
				<td>{{test.Title}}</td>
				<td style="width: 220px;">
					<div>
						<a data-toggle="tooltip" data-tooltip="Редактировать тест" data-tooltip-placement="left" data-ng-click="onEditButtonClicked(test.Id)" style="margin-right: 10px"><i class="fa fa-edit fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Удалить тест" data-tooltip-placement="left" data-ng-click="onDeleteButtonClicked(test.Id, test.Title)" style="margin-right: 10px"><i class="fa fa-trash-o fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Перейти к вопросам" data-tooltip-placement="left" data-ng-href="#/questions?testId={{test.Id}}&forSelfStudy={{test.ForSelfStudy}}&beforeEUMK={{test.BeforeEUMK}}&forEUMK={{test.ForEUMK}}&forNN={{test.ForNN}}" style="margin-right: 10px"><i class="fa fa-question fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Пройти тест" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-href="#/passing?testId={{test.Id}}" style="margin-right: 10px"><i class="fa fa-rocket fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Доступность теста" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-click="onUnlockButtonClicked(test.Id, test.Title)"><i class="fa fa-1x" ng-class="{'fa-unlock': test.Unlocked, 'fa-lock': !test.Unlocked}"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div style="margin-bottom: 15px"></div>
<div>
	<h4 style="margin-top: 20px;">Тесты для обучения в ЭУМК </h4>
</div>
<div style="margin-bottom: 15px"></div>
<div class="table-responsive">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="ui-state-default">
				<th>№</th>
				<th>Тема</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody id="sortableForSelfStudy">
			<tr data-ng-repeat="test in tests | filter:query | filter:{ForEUMK:true} track by $index" class="ui-state-default">
				<td testid="{{test.Id}}" width="30px">{{$index + 1}}</td>
				<td>{{test.Title}}</td>
				<td style="width: 220px;">
					<div>
						<a data-toggle="tooltip" data-tooltip="Редактировать тест" data-tooltip-placement="left" data-ng-click="onEditButtonClicked(test.Id)" style="margin-right: 10px"><i class="fa fa-edit fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Удалить тест" data-tooltip-placement="left" data-ng-click="onDeleteButtonClicked(test.Id, test.Title)" style="margin-right: 10px"><i class="fa fa-trash-o fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Перейти к вопросам" data-tooltip-placement="left" data-ng-href="#/questions?testId={{test.Id}}&forSelfStudy={{test.ForSelfStudy}}&beforeEUMK={{test.BeforeEUMK}}&forEUMK={{test.ForEUMK}}&forNN={{test.ForNN}}" style="margin-right: 10px"><i class="fa fa-question fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Пройти тест" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-href="#/passing?testId={{test.Id}}" style="margin-right: 10px"><i class="fa fa-rocket fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Доступность теста" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-click="onUnlockButtonClicked(test.Id, test.Title)"><i class="fa fa-1x" ng-class="{'fa-unlock': test.Unlocked, 'fa-lock': !test.Unlocked}"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<div style="margin-bottom: 15px"></div>
<div>
	<h4 style="margin-top: 20px;">Тесты для обучения с искусственной нейронной сетью  </h4>
</div>
<div style="margin-bottom: 15px"></div>
<div class="table-responsive">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr class="ui-state-default">
				<th>№</th>
				<th>Тема</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody id="sortableForSelfStudy">
			<tr data-ng-repeat="test in tests | filter:query | filter:{ForNN:true} track by $index" class="ui-state-default">
				<td testid="{{test.Id}}" width="30px">{{$index + 1}}</td>
				<td>{{test.Title}}</td>
				<td style="width: 220px;">
					<div>
						<a data-toggle="tooltip" data-tooltip="Редактировать тест" data-tooltip-placement="left" data-ng-click="onEditButtonClicked(test.Id)" style="margin-right: 10px"><i class="fa fa-edit fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Удалить тест" data-tooltip-placement="left" data-ng-click="onDeleteButtonClicked(test.Id, test.Title)" style="margin-right: 10px"><i class="fa fa-trash-o fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Перейти к вопросам" data-tooltip-placement="left" data-ng-href="#/questions?testId={{test.Id}}&forSelfStudy={{test.ForSelfStudy}}&beforeEUMK={{test.BeforeEUMK}}&forEUMK={{test.ForEUMK}}&forNN={{test.ForNN}}" style="margin-right: 10px"><i class="fa fa-question fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Пройти тест" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-href="#/passing?testId={{test.Id}}" style="margin-right: 10px"><i class="fa fa-rocket fa-1x"></i></a>
						<a data-toggle="tooltip" data-tooltip="Доступность теста" data-ng-show="test.HasQuestions" data-tooltip-placement="right" data-ng-click="onUnlockButtonClicked(test.Id, test.Title)"><i class="fa fa-1x" ng-class="{'fa-unlock': test.Unlocked, 'fa-lock': !test.Unlocked}"></i></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	$("#headerMainPage").find("small").text("Управление тестами");
</script>
