<div class="modal-header">
    <a class="close" data-ng-click="closeDialog()">&times;</a>
    <h4>{{test.Title ? test.Title : 'Новый тест'}}</h4>
</div>
<div class="modal-body">
    <form data-ng-submit='saveTest()' name="testDetailsForm">
        <div>
            <div class="form-group">
                <label for="inputEmail" class="control-label">Название теста:</label>
                <input type="text" required placeholder="Введите название" class="form-control input-sm" id="inputEmail" data-ng-model="test.Title">
            </div>
            <div class="form-group">
                <label for="textArea" class="control-label">Описание:</label>
                <textarea placeholder="Введите описание" style="min-width: 100px!important;" class="form-control input-sm" rows="3" id="textArea" data-ng-model="test.Description"></textarea>
            </div>
            <div class="row">

                <div class="form-group col-lg-6">
                    <label for="textArea" class="control-label" data-ng-bind="test.SetTimeForAllTest ? 'Время на весь тест (мин)' : 'Время на 1 вопрос (сек)'"></label>
                    <input class="form-control input-sm" type="number" min="1" max="1000" required data-ng-model="test.TimeForCompleting" />
                    <div class="">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-model="test.SetTimeForAllTest">
                                Задать время на весь тест
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="countOfQuestions" class="control-label">Количество вопросов:</label>

                    <input type="number" min="1" max="100" required class="form-control input-sm" id="countOfQuestions" data-ng-model="test.CountOfQuestions"></input>

                </div>
            </div>
			<div>
				<div>
					<div class="checkbox">
						<label>
							<input type="radio" name="testType" ng-value="0" data-ng-model="testType">
							Тест для контроля знаний
						</label>
					</div>
				</div>
			</div>
            <div>
                <div>
                    <div class="checkbox">
                        <label>
							<input type="radio" name="testType" ng-value="1" data-ng-model="testType">
	                        Тест для самоконтроля
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="checkbox">
                        <label>
							<input type="radio" name="testType" ng-value="2" data-ng-model="testType">
	                        Предтест для обучения в ЭУМК
                        </label>
                    </div>
                </div>
            </div>
	        <div>
		        <div>
			        <div class="checkbox">
				        <label>
							<input type="radio" name="testType" ng-value="3" data-ng-model="testType">
							Тест для обучения в ЭУМК
				        </label>
			        </div>
		        </div>
	        </div>
	        <div>
		        <div>
			        <div class="checkbox">
				        <label>
							<input type="radio" name="testType" ng-value="4" data-ng-model="testType">
							Тест для обучения с искусственной нейронной сетью
				        </label>
			        </div>
		        </div>
	        </div>

        </div>


        <div class="modal-footer" style="margin: 0; padding: 15px 0px;">
            <a data-ng-click="closeDialog()" class="btn btn-default btn-sm">Отмена</a>
            <button type="submit" id="saveButton" class="btn btn-primary btn-sm">Сохранить</button>
        </div>
    </form>
</div>
