td:first-child {
    width: 35px;
    text-align: center;
}

.admin-icon {
    font-size: 22px;
    vertical-align: -4px;
    padding-right: 5px;
}

#admin .section-wrapper {
    padding: 80px 30px;
}
#parental .section-wrapper {
    padding: 80px 30px;
}
#admin .jqplot-table-legend-swatch {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

#adminModal .modal-footer {
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#admin .side-nav .nav-item,
#parental .side-nav .nav-item {
    font-size: 17px;
}

#admin .navbar-brand,
#parental .navbar-brand {
    font-size: 30px;
    line-height: 28px;
}

    #admin .navbar-brand sup,
    #parental .navbar-brand sup {
        font-size: 14px;
        padding-left: 5px;
        vertical-align: middle;
    }

    #admin .navbar-brand .admin-icon,
    #parental .navbar-brand .admin-icon {
        font-size: 24px;
        margin-right: 5px;
    }

#parental ul.dropdown-menu .nav-item {
    padding-left: 22px;
    font-size: 15px;
}

#parental .navbar-right li {
    color: white;
    font-size: 14px;
}

#parental .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

#parental .navbar-right li a {
    padding: 16px 20px 16px 20px;
}

#parental .navLink {
    max-width: 288px;
}

    #parental .navLink a {
        overflow: hidden;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

select.students-stat > option:hover {
    background: black !important;
}

select.students-stat {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
}


/**************/
/*FlipSwitcher*/
/*************/
    .onoffswitch {
        position: relative; width: 100px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
        margin-left: auto;
        margin-right: auto;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #61C234; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #FF0000; color: #FFFFFF;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 56px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }

     li.selected a {
  background-color: #0079A1;
  color: #e8eef4;
} 
/*statistics*/
#stat-table {
    font-size: 14px;
    background-color: white;
}

    #stat-table caption {
        text-align: left;
        font-size: 14px;
        padding: 10px;
        background-color: white;
        border: solid 1px #ddd;
        border-bottom: none;
    }

    #stat-table th,
    #stat-table td {
        text-align: center;
        vertical-align: middle;
    }


        #stat-table td:nth-child(2) {
            text-align: left;
            padding-left: 10px;
        }

.stat-btn-section {
    float: right;
    padding: 10px;
}

    .stat-btn-section a {
        padding-left: 16px;
        cursor: pointer;
    }

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
