td:first-child {
    width: 35px;
    text-align: center;
}

.admin-icon {
    font-size: 22px;
    vertical-align: -4px;
    padding-right: 5px;
}

#admin .jqplot-table-legend-swatch {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

#admin .side-nav .nav-item,
#parental .side-nav .nav-item {
    font-size: 17px;
}

#admin .navbar-brand,
#parental .navbar-brand {
    font-size: 30px;
    line-height: 28px;
}

    #admin .navbar-brand sup,
    #parental .navbar-brand sup {
        font-size: 14px;
        padding-left: 5px;
        vertical-align: middle;
    }

    #admin .navbar-brand .admin-icon,
    #parental .navbar-brand .admin-icon {
        font-size: 24px;
        margin-right: 5px;
    }

#parental ul.dropdown-menu .nav-item {
    padding-left: 22px;
    font-size: 15px;
}

#parental .navbar-right li {
    color: white;
    font-size: 18px;
}

#parental .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

#parental .navbar-right li a {
    padding: 18px 20px 14px 20px;
}

select.students-stat > option:hover {
    background: black !important;
}

select.students-stat {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
}
/*statistics*/
#stat-table {
    font-size: 14px;
    background-color: white;
}

    #stat-table caption {
        text-align: left;
        font-size: 14px;
        padding: 10px;
        background-color: white;
        border: solid 1px #ddd;
        border-bottom: none;
    }

    #stat-table th,
    #stat-table td {
        text-align: center;
        vertical-align: middle;
    }


        #stat-table td:nth-child(2) {
            text-align: left;
            padding-left: 10px;
        }

.stat-btn-section {
    float: right;
    padding: 3px 7px;
}

    .stat-btn-section a {
        padding-left: 5px;
        cursor: pointer;
    }
