.nav a {
    cursor: pointer;
}

#messages .ng-table-pager {
    text-align: center;
    padding-top: 30px;
}

#messages .bordered {
    border-bottom: #ddd solid 1px;
}

#messages .ellipsis {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#messages .msg-row {
    height: 45px;
    cursor: pointer;
}

    #messages .msg-row i.is-read {
        color: #008cba;
    }

    #messages .msg-row .fa-envelope {
        color: gray;
    }

    #messages .msg-row td:first-child {
        width: 60px;
        -moz-min-width: 60px;
        -ms-min-width: 60px;
        -o-min-width: 60px;
        -webkit-min-width: 60px;
        min-width: 60px;
        text-align: left;
    }



    #messages .msg-row .athor-name {
        font-size: 17px;
        max-width: 250px;
        min-width: 250px;
        width: 250px;
        line-height: 40px;
        overflow: hidden;
        padding: 0 10px 0 0;
    }

    #messages .msg-row .recip-name {
        width: 180px;
        max-width: 180px;
        float: left;
    }

    #messages .msg-row .recip-name-add {
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        color: #008cba;
        text-decoration: none;
    }

    #messages .msg-row .subject {
        font-size: 15px;
        color: #515151;
        padding-left: 10px;
        max-width: 140px;
        overflow: hidden;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #messages .msg-row .preview-text {
        font-size: 15px;
        color: #515151;
        overflow: hidden;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 180px;
        padding-left: 10px;
    }

    #messages .msg-row .date {
        text-align: right;
        font-size: 16px;
        max-width: 85px;
        width: 85px;
        padding-left: 10px;
    }

    #messages .msg-row .delete-button {
        width: 45px;
        text-align: right;
    }

#messages sub.paperclip {
    font-size: 11px;
    top: 12px;
    padding-left: -15px;
    margin-left: -5px;
    color: gray;
}

#messages .buttonActionSection {
    margin: 20px 0;
    padding-left: 10px;
}

#messages .tab-content-wrapper {
    min-height: 150px;
    padding: 20px;
}

#messages .row {
    padding: 0 10px;
}

.form-msg {
    padding: 0 20px;
}

    .form-msg textarea {
        max-width: 560px;
    }

    .form-msg .search-field > input {
        width: 180px !important;
    }

   .form-msg  .validation-summary-errors {
       margin-top: 20px;
   }

.display-msg {
}

    .display-msg .control-section {
        background: whitesmoke;
        padding: 20px;
    }

    .display-msg .msg-body {
        padding: 10px 20px;
        margin: 20px 0 15px 0;
        word-wrap: break-word;
        font-size: 18px;
    }

    .display-msg .author-name {
        font-size: 22px;
        padding: 5px 0 25px 0;
        cursor: pointer;
    }

        .display-msg .author-name a:hover {
            text-decoration: none !important;
        }

    .display-msg label {
        color: gray;
        font-size: 15px;
        padding-right: 10px;
    }

    .display-msg .recip-name .fa {
        color: #D1D1D1;
        margin: 0 3px 0 10px;
        font-size: 13px;
    }

    .display-msg .attach-link {
        padding-right: 15px;
    }

        .display-msg .attach-link .glyphicon {
            margin-right: 3px;
        }
