
<style>
    .redRow {
        color: red;
    }
    .greenRow {
        color: green;
    }
    #tableformVisiting tbody tr:nth-child(odd) { /* Задаем стили для нечетных рядов таблицы */
        background: #f9f9f9;
    }

    #tableformVisiting tbody tr:nth-child(even) { /* Задаем стили для четных рядов таблицы */
        background: #f3f4f5;
    }
</style>
<h2>{{data.groupnumber}} {{data.fullname}}</h2>
<div style="overflow-x: auto;">
    <table id="tableformVisiting" class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle">Материал</th>
                <th style="text-align: center; vertical-align: middle">Просмотрено (сек)</th>
                <th style="text-align: center; vertical-align: middle">Ожидалось (сек)</th>
            </tr>
        </thead>
        <tr ng-repeat="concept in data.concepts">
            <td style="max-width: 300px; min-width: 300px"><b>{{concept.Name}}</b></td>
            <td style="max-width: 300px; min-width: 300px" ng-class="{redRow: IsVeryLong(concept), greenRow: !IsVeryLong(concept)}"><b>{{getTime(concept.view.Time)}}</b></td>
            <td style="max-width: 300px; min-width: 300px"><b>{{getTime(concept.Estimated)}}</b></td>
        </tr>
    </table>
</div>
