
<style>
    .redRow{
        background-color: crimson;
    }
</style>

<div style="overflow-x: auto;">
    <table id="tableformVisiting" class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle">Материал</th>
                <th style="text-align: center; vertical-align: middle">Просмотрено (сек)</th>
                <th style="text-align: center; vertical-align: middle">Ожидалось (сек)</th>
            </tr>
        </thead>
        <tr ng-repeat="concept in data.concepts" ng-class="{redRow: IsVeryLong(concept)}">
            <td style="max-width: 300px; min-width: 300px">{{concept.Name}}</td>
            <td style="max-width: 300px; min-width: 300px">{{getTime(concept.view.Time)}}</td>
            <td style="max-width: 300px; min-width: 300px">{{getTime(concept.Estimated)}}</td>
        </tr>
    </table>
</div>
