<script type="text/html" id="hasOneCorrectVariant">
    <div class="row">
        <input type="radio" data-bind="checked: IsCorrect" class="col-lg-1" style="height: 29px">
        <div class=" col-lg-10"><input type="text" data-bind="value: Content" class="form-control input-sm"  /></div>
        <button type="button" class="col-lg-1 btn-xs" style="height: 29px; margin: 5px 0 6px 0;">
            <span class="glyphicon glyphicon-trash" style="color: blue"></span>
        </button>
    </div>
</script>
