<li><a href="@Url.Action("Index", "BTS")" class="linkNavbar"><i class="fa fa-1x fa-desktop fa-tab"></i>Управление проектами</a></li>
<li><a href="@Url.Action("BugManagement", "BTS")" class="linkNavbar"><i class="fa fa-1x fa-bug fa-tab"></i>Управление ошибками</a></li>
<li class="divider"></li>
<li><a href="@Url.Action("Index", "Lms")" class="linkNavbar"><i class="fa fa-1x fa-reply fa-tab"></i> Система управление учебным процессом</a></li>
