<li><a href="@Url.Action("Index", "BTS")" class="linkNavbar"><i class="fa fa-desktop fa-tab"></i>Проекты</a></li>
@if (User.IsInRole("lector"))
{
    <li><a href="@Url.Action("ProjectParticipation", "BTS")" class="linkNavbar"><i class="fa fa-table fa-tab"></i>Занятость на проектах</a></li>
}
<li><a href="@Url.Action("BugManagement", "BTS", new { id = 0 })" class="linkNavbar"><i class="fa fa-bug fa-tab"></i>Управление ошибками</a></li>
<li><a href="@Url.Action("Index", "Lms")" class="linkNavbar"><i class="fa fa-reply fa-tab"></i>В главное меню</a></li>
