<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Система управления ошибками</h3>
    </div>

    @Html.ActionLink("Проекты", "Projects", "BTS", null, new { @class = "list-group-item" })
    @Html.ActionLink("Управление проектами", "ProjectManagement", "BTS", null, new { @class = "list-group-item" })
    @Html.ActionLink("Управление ошибками", "ErrorManagement", "BTS", null, new { @class = "list-group-item" })
</div>

