<li><a href="/BTS#/Projects" class="linkNavbar"><i class="fa fa-desktop fa-tab"></i>Проекты</a></li>
@if (User.IsInRole("lector"))
{
    <li><a href="/BTS#/ProjectParticipation" class="linkNavbar"><i class="fa fa-table fa-tab"></i>Занятость на проектах</a></li>
}
<li><a href="/BTS#/Bugs" class="linkNavbar"><i class="fa fa-bug fa-tab"></i>Управление ошибками</a></li>
<li><a href="@Url.Action("Index", "Lms")" class="linkNavbar"><i class="fa fa-reply fa-tab"></i>В главное меню</a></li>
