<li><a href="@Url.Action("Projects", "BTS")"><i class="fa fa-desktop"></i>Проекты</a></li>
<li><a href="@Url.Action("ProjectManagement", "BTS")"><i class="fa fa-desktop"></i>Управление проектами</a></li>
<li><a href="@Url.Action("BugManagement", "BTS")"><i class="fa fa-desktop"></i>Управление ошибками</a></li>
<li class="divider"></li>
<li><a href="@Url.Action("Index", "Lms")"><i class="fa fa-desktop"></i> Система управление учебным процессом</a></li>
