@model LMPlatform.UI.ViewModels.BTSViewModels.BugListViewModel
<div name="bugGridActionsCol" align="center">
    <a href="#" class="deleteButton" style="margin-right: 10px"><span class="fa fa-trash-o fa-1x" data-model-id='@Model.Id' /></a>
</div>

