<table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
    <tr ng-repeat="bug in $data" project-directive>
        <td data-title="'№'" style="text-align: center; width: 20px;">{{bug.Number}}</td>
        <td data-title="'ID'" style="text-align: center; width: 20px;">{{bug.ID}}</td>
        <td data-title="'Название'">{{bug.Summary}}</td>
        <td data-title="'Важность'">{{bug.Severity}}</td>
        <td data-title="'Статус'">{{bug.Status}}</td>
        <td data-title="'Назначенный разработчик'">{{bug.AssignedDeveloper}}</td>
        <td data-title="'Проект'">{{bug.ProjectTitle}}</td>
        <td data-title="'Дата последнего изменения'">{{bug.ModifyingDate}}</td>
        <td data-title="'Действие'" style="width: 83px;">
            @*<div name="projectGridActionsCol" ng-class="{hide : !isLector}" align="center">
                <a ng-click="onEditProject(project.Id)" style="margin-right: 10px"><i class="editProject fa fa-edit fa-1x"></i></a>
                <a ng-click="onDeleteProject(project.Id)" style="margin-right: 10px"><span class="deleteButton fa fa-trash-o fa-1x" /></a>
            </div>*@
        </td>
    </tr>
</table>