<div class="row">
    <div class="col-md-9" id="project-left-content">
        <div class="row" id="project-creator-row">
            <div class="col-md-3">
                <b>Создатель проекта:</b>
            </div>
            <div class="col-md-9">
                {{project.CreatorName}}
            </div>
        </div>
        <div id="project-description-row" class="row" ng-show="project.Description !== null">
            <div class="col-md-3">
                <b>Описание проекта:</b>
            </div>
            <div class="col-md-9">
                <span style="white-space: pre-wrap;">{{project.Description}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <b>Дата последнего изменения проекта:</b>
            </div>
            <div class="col-md-9">
                {{project.DateOfChange}}
            </div>
        </div>

        <hr style="margin-bottom: 5px" />

        <h4>Участники проекта</h4>
        <div class="row">
            <div class="col-md-7">
                <div class="dropdown" ng-show="isProjectManager()">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Добавить
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a ng-click="onAddStudent()">Студента</a></li>
                        <li><a ng-click="onAddLecturer()">Лектора</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="dropdown" style="float: right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Управление
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li ng-show="isProjectManager()"><a ng-click="onClearProject()">Очистить проект</a></li>
                        <li><a ng-click="onOpenMatrixForm()">Сгенерировать матрицу</a></li>
                        <li><a ng-click="onOpenGeneratedMatrix()">Открыть матрицу</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br />

        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Участник</th>
                    <th>Роль</th>
                    <th ng-class="{hide : !isLector}" >Действие</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in project.Members" project-user-directive>
                    <td>{{member.Name}}</td>
                    <td>{{member.Role}}</td>
                    <td ng-class="{hide : !isLector}" >
                        <div name="projectUserGridActionsCol" align="center">
                            <a ng-click="onDeleteProjectUser(member.Id)" class="deleteButton" style="margin-right: 10px"><span class="fa fa-trash-o fa-1x" /></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="file-input" ng-show="isUploadable()">
            <span class="btn btn-success btn-sm fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>Добавить файл</span>
                <input type="file" name="files[]" multiple="" class="upload" ng-model="files" on-choose-file="uploadFile">
            </span>
        </div>

        <table class="table table-striped files-table">
            <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery" ng-repeat="file in files">
                <tr class="template-download fade in" id="8479">

                    <td class="preview" style="width:50px">
                        <a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="{{file.Name}}" data-gallery="gallery" download="{{file.Name}}"><img src="/Content/mvcfileupload/img/generalFile.png"></a>
                    </td>
                    <td class="name">
                        <a style="word-break: break-all;" href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="{{file.Name}}" title="{{file.Name}}" data-gallery="gallery" download="{{file.Name}}">{{file.Name}}</a>
                    </td>
                    <td class="guid" style="display:none"><span>{{file.FileName}}</span></td>
                    <td class="type"><span>{{file.AttachmentType}}</span></td>
                    <td class="type_data">

                        <span style="color:#0072e6">Прикрепленный файл</span>

                    </td>
                    <td colspan="2"></td>

                    <td style="text-align:right;">
                        <a style="margin-right: 10px; cursor: pointer" class="delete" data-type="DELETE" title="{{file.Name}}" ng-click="deleteFile(file)"><i class="fa fa-times fa-2x" data-toggle="tooltip" data-placement="right" title="Удалить файл"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <ul class="dropdown-menu">
                <li ng-repeat="file in files">
                    <a href="api/Upload?filename={{file.PathName}}//{{file.FileName}}">
                        {{file.Name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="row" style="margin-top: 40px;">
            <div id="commentPanel" style="padding: 0 15px 0 15px">
                <div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <h3 class="panel-title">Обсуждение проекта</h3>
                            <span class="pull-right clickable "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body" id="comments-panel" style="height: 200px">
                            <ul class="chat">
                                <li ng-repeat="comment in comments" ng-class="comment.disabled ? 'inactive-comment' : ''">
                                    <div class="chat-body">
                                        <div class="header">
                                            <strong class="primary-font">{{comment.UserName}}</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time" style="margin-right: -15px;"></span>{{comment.Time}}
                                            </small>
                                        </div>
                                        <p>
                                            {{comment.Text}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="CommentText" type="text" ng-model="commentToSend" class="form-control input-sm" style="height: 36px; width: 95%; margin-top: -1px" placeholder="Введите свой комментарий..." />
                                <span class="input-group-btn" style="width: 5%">
                                    <button type="submit" ng-click="onSendComment()" class="btn btn-primary btn-sm" id="chat-btn">
                                        Отправить
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row" style="padding-right: 5px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Анализ ошибок проекта</h3>
                </div>
                <div class="panel-body" style="padding: 10px; overflow: hidden">
                    <div>
                        <h5>Количество ошибок проекта: <b>{{bugs.totalCount}}</b></h5>
                        <div ng-show="bugs.totalCount !== 0">
                            <div style="padding-top: 5px">
                                <h5>Важность ошибок:</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="bugs.types[0].style">
                                    </div>
                                    <span class="progress-type">{{bugs.types[0].name}}</span>
                                    <span class="progress-completed">{{bugs.types[0].count}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="bugs.types[1].style">
                                    </div>
                                    <span class="progress-type">{{bugs.types[1].name}}</span>
                                    <span class="progress-completed">{{bugs.types[1].count}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="bugs.types[2].style">
                                    </div>
                                    <span class="progress-type">{{bugs.types[2].name}}</span>
                                    <span class="progress-completed">{{bugs.types[2].count}}</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" ng-style="bugs.types[3].style">
                                    </div>
                                    <span class="progress-type">{{bugs.types[3].name}}</span>
                                    <span class="progress-completed">{{bugs.types[3].count}}</span>
                                </div>
                            </div>

                            <h5>Статусы ошибок:</h5>

                            <div id="graph" align="center"></div>
                        </div>
                    </div>
                    <div align="center" style="padding-bottom: 10px">
                        <a type="button" class="btn btn-primary btn-sm" href="/BTS#/Projects/{{project.Id}}/Bugs">Перейти к ошибкам проекта</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="matrixForm" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Генерация матрицы</h4>
            </div>
            <div class="modal-body">
                <div class="row matrix__file-picker">
                    <div class="col-md-6">
                        <span>Файл требований</span>
                    </div>
                    <div class="col-md-6">
                        <button id="requirementsBtn" type="button" class="btn btn-default btn-sm dropdown-toggle matrix__action-button" data-hover="dropdown" data-toggle="dropdown">
                            {{matrix.requirementsLabel}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="requirementsBtn">
                            <li ng-repeat="file in files" ng-click="setMatrixRequirementsFile(file)"><a>{{file.Name}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row matrix__file-picker">
                    <div class="col-md-6">
                        <span>Файл тестов</span>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="testsBtn" type="button" class="btn btn-default btn-sm dropdown-toggle matrix__action-button" data-hover="dropdown" data-toggle="dropdown">
                                {{matrix.testsLabel}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="testsBtn">
                                <li ng-repeat="file in files" ng-click="setMatrixTestsFile(file)"><a>{{file.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul ng-repeat="error in matrixFormErrors" class="matrix__errors-list">
                        <li>{{error}}</li>
                    </ul>
                </div>

            <div class="modal-footer">
                <a class="btn btn-default btn-sm matrix__action-button" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a class="btn btn-primary btn-sm matrix__action-button" ng-click="generateMatrix()" >Сгенерировать</a>
            </div>
        </div>
        </div>
    </div>

    <div id="generatedMatrix" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Таблица покрытия</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Название требования</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="requirement in requirements" ng-class="requirement.Covered ? 'requirement-covered' : ''">
                            <td>{{requirement.Number}}</td>
                            <td>{{requirement.Name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>
