@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectUserListViewModel

<a class="editProjectUserButton" href="@Url.Action("EditProjectUser", "BTS", new { id = Model.Id})" style="margin-right: 10px" ><i class="editProjectUser fa fa-edit fa-2x"></i></a>
<a class="deleteProjectUserButton" href="@Url.Action("DeleteProjectUser", "BTS", new { id = Model.Id})" style="margin-right: 10px" ><i class="deleteProjectUser fa fa-trash-o fa-2x"></i></a>

