<div class="row">
    <div class="col-md-12">
        <div class="actions-field">
            <a class="btn btn-primary btn-sm" ng-click="onAddProject()">Добавить проект</a>
        </div>
        <div class="search-field">
            <span>Поиск</span>
            <input id="projectsSearch" type="text" class="form-control" placeholder="Введите название проекта" ng-model="inputedSearchString" ng-keyup="onSearch()">
        </div>
    </div>
</div>

<table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
    <tr ng-repeat="project in $data" project-directive>
        <td data-title="'№'" class="number-column">{{project.Number}}</td>
        <td data-title="'Тема проекта'" sortable="'Title'"><a href="/BTS/ProjectManagement/{{project.Id}}">{{project.Title}}</a></td>
        <td data-title="'Дата изменения'" sortable="'DateOfChange'">{{project.DateOfChange}}</td>
        <td data-title="'Создатель'" sortable="'CreatorName'">{{project.CreatorName}}</td>
        <td data-title="'Кол-во участников проекта'" sortable="'UserQuentity'">{{project.UserQuentity}}</td>
        <td data-title="'Действие'" class="project-actions-column">
            <div name="projectGridActionsCol" ng-class="{hide : !isLector}" class="table-actions">
                <a ng-click="onEditProject(project.Id)"><i class="editProject fa fa-edit fa-1x"></i></a>
                <a ng-click="onDeleteProject(project.Id)"><span class="deleteButton fa fa-trash-o fa-1x" /></a>
            </div>
        </td>
    </tr>
</table>