@{
    Layout = "~/Views/Shared/_BTSLayout.cshtml";
}

<div class="container" style="margin: 10px">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <table class="table">
                <tr>
                    <td style="width: 60%">Ошибки проектов :</td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все проекты<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>Проект 1</li>
                            <li>Проект 2</li>
                            <li>Проект 3</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>Отображать ошибки :</td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все ошибки<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>Новые</li>
                            <li>Разрешенные</li>
                            <li>Закрытые</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Сортировать по :</td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ID<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>ID</li>
                            <li>Название ошибки</li>
                            <li>Важность</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-offset-1 col-md-4">
            <button type="button" class="btn btn-primary">Документировать ошибку</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table" style="width: 100%">
                <thead>
                    <td>&#8470;</td>
                    <td>ID</td>
                    <td>Название ошибки</td>
                    <td>Проект</td>
                    <td>Статус</td>
                    <td>Важность</td>
                    <td width="20px"></td>
                </thead>
                <tr>
                    <td>1</td>
                    <td><a href="#">2801</a></td>
                    <td>Появляется неверное окно</td>
                    <td>Проект 1</td>
                    <td>новая</td>
                    <td>Средняя</td>
                    <td><img src="/Content/images/trash_blue.png"/></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">2802</a></td>
                    <td>Появляется неверное окно</td>
                    <td>Проект 2</td>
                    <td>новая</td>
                    <td>Средняя</td>
                    <td><img src="/Content/images/trash_blue.png"/></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#">2803</a></td>
                    <td>Появляется неверное окно</td>
                    <td>Проект 3</td>
                    <td>новая</td>
                    <td>Средняя</td>
                    <td><img src="/Content/images/trash_blue.png"/></td>
                </tr>
            </table>
        </div>
    </div>
</div>


