@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers

@section subnavbar
{
    @Html.Partial("_BTSSubnavbar")
}

@section scripts{
     @Scripts.Render("~/bundles/datatable")
}

<div class="container" style="margin: 10px">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            
            <div style="margin: 10px">
                @Html.Partial("UnderConstruction")
            </div>


            @*<table class="table">
                <tr>
                    <td style="width: 60%">Ошибки проектов :</td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все проекты<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>Проект 1</li>
                            <li>Проект 2</li>
                            <li>Проект 3</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>Отображать ошибки :</td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Все ошибки<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>Новые</li>
                            <li>Разрешенные</li>
                            <li>Закрытые</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Сортировать по :</td>
                    <td class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ID<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>ID</li>
                            <li>Название ошибки</li>
                            <li>Важность</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>*@
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-primary" style="float: right">Документировать ошибку</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div style="margin: 10px">
                @Html.Partial("_DataTable", new DataTableViewModel
                    {
                        DataTable = Html.DataTable("allProjectsList", (BTSController controller) => controller.GetAllBugs(null)),
                        DataTableOptions = new DataTableOptions
                            {
                                Filterable = true,
                                Info = true,
                                OnComplete = null,
                                Pagination = true,
                                Searchable = true,
                                Sortable = false,
                            }
                    })
            </div>
        </div>
    </div>
</div>



