@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@model LMPlatform.UI.ViewModels.BTSViewModels.ProjectListViewModel

@{
    ViewBag.Title = "Проекты";
}

@section css
{
    <link rel="stylesheet" href="/Content/chosen/chosen.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/application/BTS/project.js" type="text/javascript"></script>
}

@section navleft
{
    @Html.Partial("_BTSSubnavbar")
}

<h3>Проекты</h3>
<hr/>
<div>
    <a href="#" class="projectButton" data-url="@Url.Action("AddProject", "BTS")" data-toggle="tooltip">
        <span class="glyphicon glyphicon-plus fa-tab"></span>Добавить проект
    </a>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane active" id="allProjects">
            <div>
                @Html.Partial("_DataTable", new DataTableViewModel
                {
                        DataTable = Html.DataTable("aProjectsList", (BTSController controller) => controller.GetProjects(null)),
                        DataTableOptions = new DataTableOptions
                        {
                            Filterable = true,
                            Info = true,
                            OnComplete = null,
                            Pagination = true,
                            Searchable = true,
                            Sortable = false,
                        }
                })
            </div>
        </div>
    </div>
</div>
