<div class="row">
    <div class="col-md-2 col-lg-2">
        <a class="addProjectButton btn btn-primary btn-sm" href="@Url.Action("AddProject", "BTS")">Добавить проект</a>
    </div>
    <div class="col-md-3 col-md-offset-7 col-lg-2 col-lg-offset-8">
        <input id="projectsSearch" type="text" class="form-control" placeholder="Поиск">
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Тема проекта</th>
            <th>Дата создания</th>
            <th>Создатель</th>
            <th>Кол-во участников проекта</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody infinite-scroll='loadProjects()' infinite-scroll-distance='1'>
        <tr ng-repeat="project in projects" project-directive>
            <td>
                {{project.Number}}
            </td>
            <td>
                {{project.Title}}
            </td>
            <td>
                {{project.CreationDate}}
            </td>
            <td>
                {{project.CreatorName}}
            </td>
            <td>
                {{project.UserQuentity}}
            </td>
            <td style="width: 83px;">
                <div name="projectGridActionsCol" align="center">
                    <a class="editProjectButton" href="#" style="margin-right: 10px"><i class="editProject fa fa-edit fa-1x"></i></a>
                    <a href="#" class="deleteButton" style="margin-right: 10px"><span class="fa fa-trash-o fa-1x" /></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>