@{
    Layout = "~/Views/Shared/Layouts/_BTSLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#allProjects" data-toggle="tab">Список проектов</a></li>
                <li><a href="#chosenProjects" data-toggle="tab">Избранные проекты</a></li>
                <li class="pull-right"><button type="button" class="btn btn-primary" >Добавить проект</button></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="allProjects">
        
                    <table class="table table-hover">
                        <tr>
                            <td style="width: 10%; text-align: center"><img src="/Content/images/star_blue.png"/></td>
                            <td>Проект 1. "Тестовый проект, находящийся в стадии разработки"</td>
                            <td style="width: 20%; text-align: left">11 января 1990</td>
                        </tr>
                    </table>
        
                </div>
                <div class="tab-pane" id="chosenProjects">
        
                    <table class="table table-hover">
                        <tr>
                            <td style="width: 10%; text-align: center"><img src="/Content/images/star_blue.png"/></td>
                            <td>Проект 1. "Тестовый проект, находящийся в стадии разработки"</td>
                            <td style="width: 20%; text-align: left">11 января 1990</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

