<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Тема проекта</th>
            <th>Дата создания</th>
            <th>Создатель</th>
            <th>Кол-во участников проекта</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in projects">
            <td>
                {{project.Number}}
            </td>
            <td>
                {{project.Title}}
            </td>
            <td>
                {{project.CreationDate}}
            </td>
            <td>
                {{project.CreatorName}}
            </td>
            <td>
                {{project.UserQuentity}}
            </td>
            <td style="width: 83px;">
                <div name="projectGridActionsCol" align="center">
                    <a class="editProjectButton" href="#" style="margin-right: 10px"><i class="editProject fa fa-edit fa-1x"></i></a>
                    <a href="#" class="deleteButton" style="margin-right: 10px"><span class="fa fa-trash-o fa-1x"/></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>