<div ng-controller="SubjectAttachmentsController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>
    <div class="fileContainer">
        <h4>Предметные файлы</h4>
        @*<tabset>
            <tab heading="Лекции">*@
        <div class="lecturesF">
                      
        </div>
        @*</tab>
            <tab heading="Лабораторные работы">*@
        <div class="labsF">

        </div>
        @*</tab>
            <tab heading="Практические занятия">*@
        <div class="practF">

        </div>
        @*</tab>
        </tabset>*@    
    </div>
</div>
