<div ng-controller="LabsController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }

        .table-hoverT > tbody > tr:hover > td,
        .table-hoverT > tbody > tr:hover > th {
            background-color: #e7e7e7;
        }
		.box_rotate {
            
     -moz-transform: rotate(270deg);  /* FF3.5+ */
       -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

		.content{
			overflow-x: auto!important;
			overflow-y: hidden!important;
		}
    </style>

    <tabset>
		<tab heading="Лабораторные работы">
			<div class="table-responsive" style="margin-top: 20px;margin-bottom: 10px">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>№</th>
							<th>Название</th>
							<th>Краткое название</th>
							<th>Часы</th>
							<th>Скачать</th>
						</tr>
					</thead>
					<tr ng-repeat="data in labs">
						<td style="width: 20px;">{{data.Order}}</td>
						<td style="max-width: 400px;word-wrap: break-word;">{{data.Theme}}</td>
						<td>{{data.ShortName}}</td>
						<td>{{data.Duration}}</td>
					    <td style="width: 90px;height: 55px;">
					        <div class="btn-group pull-right" style="position:absolute">
					            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					                      Файлы
					                      <span class="caret"></span>
					                  </button>
					            <ul class="dropdown-menu" role="menu">
					                <li ng-repeat="file in data.Attachments"><a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="file.Name" download="file.Name">{{file.Name}}</a></li>
					            </ul>
					        </div>
					    </td>
					</tr>
				</table>
			</div>
		</tab>
		<tab heading="График защиты">
			<table style="margin-bottom: 15px; margin-top: 20px; ">
				<tbody>
					<tr>
						<td>
							<select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
						</td>
					</tr>
				</tbody>
			</table>
			<form>
				<div>
					<h4 style="margin-top: 20px;">Подгруппа 1</h4>
				</div>

				<div class="table-responsive" style="overflow-x: auto;">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>№</th>
								<th>Лабораторная работа</th>
								<th style="height: 80px;width: 10px;padding: 0px;margin: 0px;padding-bottom: 30px;text-align: center"
									ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsOne.ScheduleProtectionLabsV2">
									<div style="cursor: pointer" class="box_rotate">{{data.Date}}</div>
								</th>
							</tr>
						</thead>
						<tr ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsOne.LabsV2">
							<td style="width: 20px">{{data.Order}}</td>
							<td style="min-width: 300px">{{data.Theme}}</td>
							<td style="width: 50px; text-align: center" ng-repeat="recomend in data.ScheduleProtectionLabsRecomend">
								{{recomend.Mark}}
							</td>
						</tr>
					</table>
				</div>
			</form>

			@* -------------------------------- *@


			<form ng-if="groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2.length > 0">
				<div style="margin-bottom: 15px; margin-top: 15px; ">
					<div>
						<h4 style="margin-top: 20px;">Подгруппа 2</h4>
						<hr style="margin-top:0px;" />
					</div>
				</div>
				<div class="table-responsive" style="overflow-x: auto;">
					<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>№</th>
							<th>Лабораторная работа</th>
							<th style="height: 80px;width: 10px;padding: 0px;margin: 0px;padding-bottom: 30px;text-align: center" ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsTwo.ScheduleProtectionLabsV2">
								<div style="cursor: pointer" class="box_rotate">{{data.Date}}</div>
							</th>
						</tr>
						</thead>
						<tr ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsTwo.LabsV2">
							<td style="width: 20px">{{data.Order}}</td>
							<td style="min-width: 300px">{{data.Theme}}</td>
							<td style="width: 50px; text-align: center" ng-repeat="recomend in data.ScheduleProtectionLabsRecomend">
								{{recomend.Mark}}
							</td>
						</tr>
					</table>
				</div>
			</form>
			
			<form ng-if="groupWorkingData.selectedGroup.SubGroupsThird.StudentsV2.length > 0">
				<div style="margin-bottom: 15px; margin-top: 15px; ">
					<div>
						<h4 style="margin-top: 20px;">Подгруппа 3</h4>
						<hr style="margin-top:0px;" />
					</div>
				</div>
				<div class="table-responsive" style="overflow-x: auto;">
					<table class="table table-bordered table-striped">
						<thead>
						<tr>
							<th>№</th>
							<th>Лабораторная работа</th>
							<th style="height: 80px;width: 10px;padding: 0px;margin: 0px;padding-bottom: 30px;text-align: center" ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsThird.ScheduleProtectionLabsV2">
								<div style="cursor: pointer" class="box_rotate">{{data.Date}}</div>
							</th>
						</tr>
						</thead>
						<tr ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsThird.LabsV2">
							<td style="width: 20px">{{data.Order}}</td>
							<td style="min-width: 300px">{{data.Theme}}</td>
							<td style="width: 50px; text-align: center" ng-repeat="recomend in data.ScheduleProtectionLabsRecomend">
								{{recomend.Mark}}
							</td>
						</tr>
					</table>
				</div>
			</form>
		</tab>
		<tab heading="Статистика посещения">

			<div style="margin-bottom: 15px; margin-top: 20px; ">
				<table>
					<tbody>
						<tr>
							<td style="padding-right:15px">
								<select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<form>
				<div id="navPanel" style="margin-bottom: 15px; margin-top: 20px;">
					<div>
						<h4 ng-if="groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2.length > 0">Подгруппа 1</h4>
					</div>
				</div>
				<div class="table-responsive">
					<table id="VisitingSub1" class="table table-bordered table-striped table-hoverT">
						<thead>
							<tr>
								<th style="text-align: center; vertical-align: middle" rowspan="2">№</th>
								<th style="text-align: center; vertical-align: middle" rowspan="2">Студент</th>
								<th style="text-align: center; vertical-align: middle" ng-repeat="lab in groupWorkingData.selectedGroup.SubGroupsOne.LabsV2" colspan="{{lab.Duration/2}}"
									title="{{lab.Theme}}">
									{{lab.ShortName}}
								</th>
							</tr>
							<tr>
								<th style="height: 80px; width: 10px; padding: 0px; margin: 0px; padding-bottom: 30px; text-align: center"
									ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsOne.ScheduleProtectionLabsV2" ng-dblclick="exposeMarkVisitingOne(data.ScheduleProtectionLabId)">
									<div style="cursor: pointer; display: inline-block" class="box_rotate">{{data.Date}}</div>
								</th>
							</tr>
						</thead>
						<tr ng-repeat="student in groupWorkingData.selectedGroup.SubGroupsOne.StudentsV2" ng-init="studentIndexOne=$index">
							<td style="width: 20px">{{studentIndexOne + 1}}</td>
							<td style="min-width: 300px"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.FullName}}</a></td>
							<td style="width: 50px; text-align: center" ng-repeat="data in student.LabVisitingMark" ng-init="markIndexOne=$index" ng-dblclick="exposeMarkVisitingOne(data.ScheduleProtectionLabId)">
								<div style="text-align:center">
									<div style="float:left; margin-left:10px;">
										{{ data.Mark || '' }}
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>


			@* ---------------------------------------------------------------- *@


			<form ng-if="groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2.length > 0">
				<div style="margin-bottom: 15px; margin-top: 15px;">
					<div id="navPanel" style="margin-bottom: 15px; margin-top: 15px;">
						<div>
							<h4 style="margin-top:20px">Подгруппа 2</h4>
						</div>
					</div>
				</div>
				<div class="table-responsive" style="overflow-x: auto">
					<table class=" table table-bordered table-striped table-hovert">
						<thead>
						<tr>
							<th style="text-align: center; vertical-align: middle" rowspan="2">№</th>
							<th style="text-align: center; vertical-align: middle" rowspan="2">Студент</th>
							<th style="text-align: center; vertical-align: middle" ng-repeat="lab in groupWorkingData.selectedGroup.SubGroupsTwo.LabsV2" colspan="{{lab.Duration/2}}"
								title="{{lab.Theme}}">
								{{lab.ShortName}}
							</th>
						</tr>
						<tr>
							<th style="height: 80px; width: 10px; padding: 0px; margin: 0px; padding-bottom: 30px; text-align: center"
								ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsTwo.ScheduleProtectionLabsV2" ng-dblclick="exposeMarkVisitingTwo(data.ScheduleProtectionLabId)">
								<div style="cursor: pointer; display: inline-block" class="box_rotate">{{data.Date}}</div>
							</th>
						</tr>
						</thead>
						<tr ng-repeat="student in groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2" ng-init="studentIndexTwo=$index">
							<td style="width: 20px">{{studentIndexTwo + 1}}</td>
							<td style="min-width: 300px"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.FullName}}</a></td>
							<td style="width: 50px; text-align: center" ng-repeat="data in student.LabVisitingMark" ng-init="markIndexTwo=$index" ng-dblclick="exposeMarkVisitingTwo(data.ScheduleProtectionLabId)">
								<div style="text-align:center">
									<div style="float:left; margin-left:10px;">
										{{ data.Mark || '' }}
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>
			
			<form ng-if="groupWorkingData.selectedGroup.SubGroupsThird.StudentsV2.length > 0">
				<div style="margin-bottom: 15px; margin-top: 20px;">
					<div id="navPanel" style="margin-bottom: 15px; margin-top: 15px;">
						<div>
							<h4 style="margin-top:20px">Подгруппа 3</h4>
						</div>
					</div>
				</div>
				<div class="table-responsive" style="overflow-x: auto">
					<table class=" table table-bordered table-striped table-hovert">
						<thead>
							<tr>
								<th style="text-align: center; vertical-align: middle" rowspan="2">№</th>
								<th style="text-align: center; vertical-align: middle" rowspan="2">Студент</th>
								<th style="text-align: center; vertical-align: middle" ng-repeat="lab in groupWorkingData.selectedGroup.SubGroupsThird.LabsV2" colspan="{{lab.Duration/2}}"
									title="{{lab.Theme}}">
									{{lab.ShortName}}
								</th>
							</tr>
							<tr>
								<th style="height: 80px; width: 10px; padding: 0px; margin: 0px; padding-bottom: 30px; text-align: center"
									ng-repeat="data in groupWorkingData.selectedGroup.SubGroupsThird.ScheduleProtectionLabsV2" ng-dblclick="exposeMarkVisitingThird(data.ScheduleProtectionLabId)">
									<div style="cursor: pointer; display: inline-block" class="box_rotate">{{data.Date}}</div>
								</th>
							</tr>
						</thead>
						<tr ng-repeat="student in groupWorkingData.selectedGroup.SubGroupsThird.StudentsV2" ng-init="studentIndexThird=$index">
							<td style="width: 20px">{{studentIndexThird + 1}}</td>
							<td style="min-width: 300px"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.FullName}}</a></td>
							<td style="width: 50px; text-align: center" ng-repeat="data in student.LabVisitingMark" ng-init="markIndexThird=$index" ng-dblclick="exposeMarkVisitingThird(data.ScheduleProtectionLabId)">
								<div style="text-align:center">
									<div style="float:left; margin-left:10px;">
										{{ data.Mark || '' }}
									</div>
									<div id="imageVisitingThird{{studentIndexThird}}{{markIndexThird}}" style="float: right; height: 10px; width:10px; margin-top: -5px; display:none">
										<img src="~/Images/comment.png">
										{{commentImage(data.Comment, studentIndexThird,markIndexThird,"imageVisitingThird")}}
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</form>

		</tab>
		<tab heading="Результаты">
			<div style="margin-bottom: 15px; margin-top: 20px; ">
				<table>
					<tbody>
						<tr>
							<td style="padding-right:15px">
								<select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<form>
				<div id="navPanel" style="margin-bottom: 15px; margin-top: 20px;">
					<div>
						<h4 style="margin-top:20px" ng-if="groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2.length > 0">Подгруппа 1</h4>
					</div>
				</div>
				<div style="width:100%">
					<table class="table table-bordered table-striped table-hoverT">
						<thead>
							<tr>
								<th style="text-align: center; vertical-align: middle">№</th>
								<th style="text-align: center; vertical-align: middle">Студент</th>
								<th style="text-align: center; vertical-align: middle" ng-repeat="lab in groupWorkingData.selectedGroup.SubGroupsOne.LabsV2" title="{{lab.Theme}}">
									{{lab.ShortName}}
								</th>
								<th style="text-align: center; vertical-align: middle">Средний балл</th>
								<th style="text-align: center; vertical-align: middle">Средний балл за тесты</th>
								<th style="text-align: center; vertical-align: middle">Рейтинговая оценка</th>
							</tr>
						</thead>
						<tr ng-repeat="student in groupWorkingData.selectedGroup.SubGroupsOne.StudentsV2" ng-init="studentIndex=$index">
							<td style="width: 20px">{{studentIndex + 1}}</td>
							<td style="width: auto"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.FullName}}</a></td>
							<td style="width: 60px; text-align: center" ng-repeat="mark in student.Marks"
								ng-init="markIndex=$index" ng-dblclick="exposeMarkSubOne(mark.Mark, mark.Comment, mark.Date, mark.LabId, mark.StudentId, mark.StudentLabMarkId)">

								<div style="text-align:center;">
									<div style="float:left; margin-left:10px; color:black" id="markOne{{studentIndex}}{{markIndex}}">
										{{setMarkSubOne(mark.LabId, mark.StudentId, studentIndex, markIndex)}}
									</div>
									<div style="float: right">										
										<div id="imageDotOne{{studentIndex}}{{markIndex}}" style="height: 5px; width: 5px; margin-top:2px; display: none">
											<img src="~/Images/redDot.png">
											{{dotImageOne(mark.LabId, mark.StudentId, studentIndex, markIndex,"imageDotOne")}}
										</div>
									</div>
								</div>

							</td>

							<td style="width: 50px; text-align: center; color: red"><b>{{student.LabsMarkTotal}}</b></td>
							<td style="width: 50px; text-align: center; color: blue"><b>{{student.TestMark}}</b></td>
							<td style="width: 50px; text-align: center; color: green"><b>{{$parent.ratingMark(student)}}</b></td>
						</tr>
					</table>
				</div>
			</form>


			@* ---------------------------------------------- *@

			<form ng-if="groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2.length > 0">
				<div id="navPanel" style="margin-bottom: 15px; margin-top: 15px;">
					<div>
						<h4 style="margin-top:20px">Подгруппа 2</h4>
					</div>
				</div>
				<div style="width:100%">
					<table class="table table-bordered table-striped table-hoverT">
						<thead>
						<tr>
							<th style="text-align: center; vertical-align: middle">№</th>
							<th style="text-align: center; vertical-align: middle">Студент</th>
							<th style="text-align: center; vertical-align: middle" ng-repeat="lab in groupWorkingData.selectedGroup.SubGroupsTwo.LabsV2" title="{{lab.Theme}}">
								{{lab.ShortName}}
							</th>
							<th style="text-align: center; vertical-align: middle">Средний балл</th>
							<th style="text-align: center; vertical-align: middle">Средний балл за тесты</th>
							<th style="text-align: center; vertical-align: middle">Рейтинговая оценка</th>
						</tr>
						</thead>
						<tr ng-repeat="student in groupWorkingData.selectedGroup.SubGroupsTwo.StudentsV2" ng-init="studentIndex=$index">
							<td style="width: 20px">{{studentIndex + 1}}</td>
							<td style="width: auto"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.FullName}}</a></td>
							<td style="width: 60px; text-align: center" ng-repeat="mark in student.Marks"
								ng-init="markIndex=$index" ng-dblclick="exposeMarkSubTwo(mark.Mark, mark.Comment, mark.Date, mark.LabId, mark.StudentId, mark.StudentLabMarkId)">

								<div style="text-align:center;">
									<div style="float:left; margin-left:10px; color:black" id="markTwo{{studentIndex}}{{markIndex}}">
										{{setMarkSubTwo(mark.LabId, mark.StudentId, studentIndex, markIndex)}}
									</div>
									<div style="float: right">
										<div id="imageDotTwo{{studentIndex}}{{markIndex}}" style="height: 5px; width: 5px; margin-top:2px; display: none">
											<img src="~/Images/redDot.png">
											{{dotImageTwo(mark.LabId, mark.StudentId, studentIndex, markIndex,"imageDotTwo")}}
										</div>
									</div>
								</div>
							</td>
							<td style="width: 50px; text-align: center; color: red"><b>{{student.LabsMarkTotal}}</b></td>
							<td style="width: 50px; text-align: center; color: blue"><b>{{student.TestMark}}</b></td>
							<td style="width: 50px; text-align: center; color: green"><b>{{$parent.ratingMark(student)}}</b></td>
						</tr>
					</table>
				</div>
			</form>
			
			<form ng-if="groupWorkingData.selectedGroup.SubGroupsThird.StudentsV2.length > 0">
				<div id="navPanel" style="margin-bottom: 15px; margin-top: 15px;">
					<div>
						<h4 style="margin-top:20px">Подгруппа 3</h4>
					</div>
				</div>
				<div style="width:100%">
					<table class="table table-bordered table-striped table-hoverT">
						<thead>
							<tr>
								<th style="text-align: center; vertical-align: middle">№</th>
								<th style="text-align: center; vertical-align: middle">Студент</th>
								<th style="text-align: center; vertical-align: middle" ng-repeat="lab in groupWorkingData.selectedGroup.SubGroupsThird.LabsV2" title="{{lab.Theme}}">
									{{lab.ShortName}}
								</th>
								<th style="text-align: center; vertical-align: middle">Средний балл</th>
								<th style="text-align: center; vertical-align: middle">Средний балл за тесты</th>
								<th style="text-align: center; vertical-align: middle">Рейтинговая оценка</th>
							</tr>
						</thead>
						<tr ng-repeat="student in groupWorkingData.selectedGroup.SubGroupsThird.StudentsV2" ng-init="studentIndex=$index">
							<td style="width: 20px">{{studentIndex + 1}}</td>
							<td style="width: auto"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.FullName}}</a></td>
							<td style="width: 60px; text-align: center" ng-repeat="mark in student.Marks"
								ng-init="markIndex=$index" ng-dblclick="exposeMarkSubThird(mark.Mark, mark.Comment, mark.Date, mark.LabId, mark.StudentId, mark.StudentLabMarkId)">

								<div style="text-align:center;">
									<div style="float:left; margin-left:10px; color:black" id="markThird{{studentIndex}}{{markIndex}}">
										{{setMarkSubThird(mark.LabId, mark.StudentId, studentIndex, markIndex)}}
									</div>
									<div style="float: right">
										<div id="imageThird{{studentIndex}}{{markIndex}}" style="height: 10px; width: 10px; margin-top: -5px; display:none">
											<img src="~/Images/comment.png">
											{{commentImage(mark.Comment, studentIndex, markIndex,"imageThird")}}
										</div>
										<div id="imageDotThird{{studentIndex}}{{markIndex}}" style="height: 5px; width: 5px; margin-top:2px; display: none">
											<img src="~/Images/redDot.png">
											{{dotImageThird(mark.LabId, mark.StudentId, studentIndex, markIndex,"imageDotThird")}}
										</div>
									</div>
								</div>
							</td>
							<td style="width: 50px; text-align: center; color: red"><b>{{student.LabsMarkTotal}}</b></td>
							<td style="width: 50px; text-align: center; color: blue"><b>{{student.TestMark}}</b></td>
							<td style="width: 50px; text-align: center; color: green"><b>{{$parent.ratingMark(student)}}</b></td>
						</tr>
					</table>
				</div>
			</form>
		</tab>
		<tab heading="Защита работ">
			<div>
				<div style="margin-top: 20px; margin-bottom: 10px">
					<table class="table table-bordered table-responsive">
						<thead>
						    <tr>
						        <th>Файлы</th>
						        <th>Комментарий</th>
						        <th>Действие</th>
						    </tr>
						</thead>
						<tbody>
							<tr ng-repeat="files in labFilesUser" ng-style="files.IsReceived ? {'background-color': '#befbc2'} : {}">
								<td>
									<div ng-repeat="file in files.Attachments">
										<a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="file.Name" download="file.Name">{{file.Name}}</a>
									</div>
								</td>
								<td>{{files.Comments}}</td>
								<td style="width: 90px;">
									<div ng-if="!files.IsReceived">
										<a style="margin-right: 10px" ng-click="editLabFiles(files)"><i class="fa fa-edit fa-1x"></i></a>
										<a ng-click="deleteUserFile(files)"><i class="fa fa-trash-o fa-1x"></i></a>
									</div>
									<div ng-if="files.IsReceived">
										Принято
									</div>
								</td>
							</tr>
						</tbody>
					</table>  
				</div>
				<input class="btn btn-sm btn-primary" type="button" ng-click="addLabFiles()" style="width: 200px" value="Добавить работу"/>
			</div>   
		</tab>
	</tabset>
    <div id="dialogAddFiles" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">На защиту лабораторной работы</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="control-group">
                        <label class="control-label">Комментарий (Например, Лабораторная работа №1)</label>
                        <textarea class="form-control" style="max-width: 545px; width: 545px;" ng-model="editFileSend.Comments"></textarea>
                    </div>

                </div>

                <div>
					<label class="control-label">
						Прикрепленный материал (Можно добавить только один файл)
					</label>
						<div id="labsFile">
						</div>
</div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <button type="button" ng-click="saveLabFiles()" class="btn btn-primary btn-sm">Отправить работу</button>
            </div>
        </div>
    </div>
</div>




