@model LMPlatform.UI.ViewModels.ComplexMaterialsViewModel.AddOrEditConceptViewModel
<div id="memoForm" style="text-align:center;">
    <a id="zoom-plus" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="zoomPlus()"><i style="margin-right: 10px;" class="fa fa-plus"></i>Увеличить</a>
    <a id="zoom-minus" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="zoomMinus()"><i style="margin-right: 10px;" class="fa fa-minus"></i>Уменьшить</a>
    <a id="move-prev" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="movePrev()"><i style="margin-right: 10px;" class=" glyphicon glyphicon-backward"></i>Предыдущий</a>
    <a id="move-next" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="moveNext()">Следующий<i style="margin-left: 10px;" class="glyphicon glyphicon-forward"></i></a>
    <div id="dataContainer" style=" text-align: center; overflow: auto;"></div>
    <a id="zoom-plus" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="zoomPlus()"><i style="margin-right: 10px;" class="fa fa-plus"></i>Увеличить</a>
    <a id="zoom-minus" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="zoomMinus()"><i style="margin-right: 10px;" class="fa fa-minus"></i>Уменьшить</a>
    <a id="move-prev" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="movePrev()"><i style="margin-right: 10px;" class=" glyphicon glyphicon-backward"></i>Предыдущий</a>
    <a id="move-next" style="text-decoration: none;" class="btn btn-link btn-sm" onclick="moveNext()">Следующий<i style="margin-left: 10px;" class="glyphicon glyphicon-forward"></i></a>
</div>
<style>
    .pdf-page {
        border: 1px solid black;
        margin: 10px;
    }
</style>
<script src="~/Scripts/application/ComplexMaterials/PDFLoader.js"></script>
<script type="text/javascript">

    
    debugger;
    var pdfLoader = new PDFLoader($('#dataContainer'), $(".loading"));
    var currentLoader = pdfLoader;

    function resizeDialog() {
        $('.modal-dialog').width(($(document).width() * 0.75) + 'px');
    }

    resizeDialog();

    $(window).resize(function () {

        //resizeDialog();
        //renderPdf();
    })

    function zoomPlus() {
        currentLoader.zoomPlus();
    }

    function zoomMinus() {
        currentLoader.zoomMinus();
    }

    

    function showEmptyContainer(message) {
        var height = $(document).height() / 3;
        var dataContainer = $('#dataContainer');
        dataContainer.empty();
        dataContainer.html("<div style='height:" + height + "px;'><label style='top:40%; position: relative;'><h5><i>" + message + "</i></h5></label></div>");
    }

    function updateHeader(name) {
        var prefix = "Просмотр файла";
        var title = prefix;
        if (name && name.length > 0)
            title = prefix + ' "' + name + '"';

        $("#myModalLabel").html(title);
    }

    function loadConceptAttach(servicePath) {
        $.get(servicePath)
        .done(function (data) {
            if (!data.HasData) {
                showEmptyContainer("У файла нет связного элемента в этом направлении");
                return;
            }

            if (data.HasAttach) {
                LoadPDF(data.FullPath);
            }
            else
                showEmptyContainer("Пустой файл");
            updateHeader(data.Name);
            currentId = data.Id
        });
    }

    function moveNext() {
        var url = "/Services/Concept/ConceptService.svc/GetNextConceptData?elementId=" + currentId;
        loadConceptAttach(url);
    }

    function movePrev() {
        var url = "/Services/Concept/ConceptService.svc/GetPrevConceptData?elementId=" + currentId;
        loadConceptAttach(url);
    }

    function LoadPDF(filepath) {
        if (filepath.length < 1) {
            showEmptyContainer("Пустой файл");
            return;
        }
        debugger;
        try {
            currentLoader.loadData(filepath);
        }
        catch (e) {
            alertify.error(e.message);
        }

    }

    var currentId = @Model.Id
    LoadPDF('@Model.GetRelativePathForActiveAttachment()');
</script>
