@{
    ViewBag.Title = "Электронный учебно-методический комплекс";
    Layout = "../Shared/Layouts/_MainUsingNavLayout.cshtml";
}

@section css
{
    <link rel="stylesheet" href="/Content/docs.min.css">
    <link rel="stylesheet" href="/Content/materials.css">
}

@section scripts
{
    @Scripts.Render("~/bundles/complexMaterialsApp")
}

@section headerTitle
{
    <h1 id="material-header">Модуль электронных учебно-методических комплексов</h1>
}

@section navleft
{
    <li class ="active" ng-show="!isBackspaceShow()" style="cursor:pointer;" ng-click="goToHome()"><a class="linkNavbar">Список ЭУМК</a></li>
    @if(!User.IsInRole("student"))
    {
        <li style="cursor:pointer;" ng-show="isBackspaceShow()" ng-click="goMonitoring()"><a class="linkNavbar">Мониторинг</a></li>
    }
    <li style="cursor:pointer;" ng-show="isBackspaceShow()" ng-click="backspaceFolder()"><a class="linkNavbar"><i class="fa fa-arrow-left"></i>Назад</a></li>
    <li style="cursor:pointer;" ng-show="isBackspaceShow()" ng-click="goToHome()"><a class="linkNavbar"><i class="fa fa-arrow-left"></i>К списку ЭУМК</a></li>
    <li><a href="/Lms" class="linkNavbar"><i class="fa fa-reply fa-tab"></i>В главное меню</a></li>
}
<div ng-view></div>
