<style>
    .redRow {
        color: red;
    }

    .greenRow {
        color: green;
    }

    #tableformVisiting tbody tr:nth-child(odd) { /* Задаем стили для нечетных рядов таблицы */
        background: #f9f9f9;
    }

    #tableformVisiting tbody tr:nth-child(even) { /* Задаем стили для четных рядов таблицы */
        background: #f3f4f5;
    }
</style>
<h2>{{data.groupnumber}} {{data.fullname}}</h2>
<div id="concept-tree"></div>