<h3>Контроль успеваемости</h3>
<hr>
<p>
    Модуль "Контроль успеваемости" позволяет:
    <br />
    - получить информацию об усвоении учёбной программы группы в целом;
    <br />
    - узнать подробную информацию по каждому студенту;
    <br />
    - просмотреть учебный план по каждому предмету.
</p>
