<div ng-controller="PlanCtrl" ng-init="init()">
    <div>
        <div>
            <span>Лекции:</span>
        </div>
        <ul>
        </ul>
    </div>
    <div>
        <div>
            <span>Практические:</span>
        </div>
        <ul>
        </ul>
    </div>
</div>
