<h3>Статистика</h3>
<hr>
<div ng-controller="StatCtrl" ng-init="init()">

    <select class="form-control" ng-model="subject" ng-options="sbjct.Name for sbjct in Subjects"></select><br />
    <div class="stat-btn-section">
        <a onclick="tableToExcel('stat-table', 'Статистика')">
            <i class="fa fa-download"></i>
            <span>Excel</span>
        </a>
        <a onclick="$('#print-table').printThis();">
            <i class="fa fa-print"></i>
            <span>Печать</span>
        </a>
    </div>
    <div id="print-table">
        <table id="stat-table" ng-if="subject.Id < 0 && allSubjectsStat.length">
            <thead>
                <tr>
                    <th rowspan="2">№</th>
                    <th rowspan="2">ФИО</th>
                    <th colspan="2" ng-repeat="subject in allSubjectsStat[0].subjectsStat">{{subject.SubjectName}}</th>
                </tr>
                <tr>
                    <th ng-repeat-start="subject in statData">Пропуски, ч</th>
                    <th ng-repeat-end>Рейтинг</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in allSubjectsStat">
                    <td>{{$index + 1}}</td>
                    <td>{{student.studentName}}</td>
                    <td ng-repeat-start="subject in student.subjectsStat">{{subject.TotalHours}}</td>
                    <td ng-repeat-end>{{subject.AvgMark}}</td>
                </tr>
            </tbody>
        </table>

        <table id="stat-table" ng-if="subject.Id >= 0">
            <caption>
                <span style="font-weight: bold">Группа: </span>{{groupName}} 
                <span style="font-weight: bold">Предмет: </span>{{subject.Name}}
                <span ng-if="subject.ShortName">({{subject.ShortName}})</span>
            </caption>
            <thead>
                <tr>
                    <th rowspan="2">№</th>
                    <th rowspan="2">ФИО</th>
                    <th colspan="4">Пропуски, ч.</th>
                    <th colspan="3">Средний балл (Кол-во)</th>
                </tr>
                <tr>
                    <th>Лекции</th>
                    <th>Лаборатоные</th>
                    <th>Практические</th>
                    <th>Всего</th>
                    <th>Лаборатоные</th>
                    <th>Практические</th>
                    <th>Рейтинг</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in subjectStat">
                    <td>{{$index + 1}}</td>
                    <td>{{student.Name}}</td>
                    <td>{{student.LecHours}}</td>
                    <td>{{student.LabHours}}</td>
                    <td>{{student.PractHours}}</td>
                    <td>{{student.TotalHours}}</td>
                    <td ng-if="student.LabMark > 0">{{student.LabMark}} ({{student.LabsCount}})</td>
                    <td ng-if="student.LabMark <= 0">-</td>
                    <td ng-if="student.PractMark > 0">{{student.PractMark}} ({{student.PractsCount}})</td>
                    <td ng-if="student.PractMark <= 0">-</td>
                    <td ng-if="student.PractMark > 0 && student.LabMark > 0">{{(student.PractMark + student.LabMark)/2}}</td>
                    <td ng-if="(student.PractMark == 0 && student.LabMark > 0) || (student.PractMark > 0 && student.LabMark == 0)">{{(student.PractMark + student.LabMark)}}
                    </td>
                    <td ng-if="student.PractMark == 0 && student.LabMark==0">-</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>




