<div ng-controller="NewsController" ng-init="init()">
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>
    <div id="navPanel">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="buttonActionSection">
                            <a id="addNewsButton" style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="addNews()">Добавить новость</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-header" style="margin-top: 5px"></div>

    <div>
        <div class="panel-group">
            <accordion>
                <accordion-group ng-repeat="data in news">
                    <accordion-heading>
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" style="float: left">{{data.Title}}</a>
                        </h4>
                        <div style="text-align: right">
                            <p class="text-muted" style="float: right; margin-left: 20px">{{data.DateCreate}}</p>
                            <a class="editNewsButton" style="margin-right: 10px" href="#" ng-click="editNews(data)"><i class="editNewsButton fa fa-edit fa-2x"></i></a>
                            <a class="deleteNewsButton" href="#"><i class="deleteNewsButton fa fa-trash-o fa-2x"></i></a>
                        </div>


                        <div class="clear-fix"></div>
                    </accordion-heading>
                    <div>
                        {{data.Body}}
                    </div>
                </accordion-group>
            </accordion>

        </div>
    </div>
    <div id="dialogAddNews" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Добавление пользователей</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Название новости</label>
                        <input type="text" class="form-control" style="width: 545px" ng-model="editNewsData.Title" />
                    </div>
                    <div>
                        <label class="control-label">Тело новости</label>
                        <textarea id="newsHtml" style="width: 545px; height: 300px" ng-model="editNewsData.Body"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a href="#" class="btn btn-primary btn-sm" ng-click="saveNews()" id="saveNewsButton" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>

</div>
