<div ng-controller="NewsController" ng-init="init()">
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>
    <div id="navPanel">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="buttonActionSection">
                            <a id="addNewsButton" style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="addNews()">Добавить новость</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: 21px"></div>

	<div>
		<div class="bs-callout bs-callout-info bs-callout-fill" ng-repeat="data in news">
			<h4 style="max-width: 500px; float: left; word-wrap: break-word; margin-right: 10px;">{{data.Title}}</h4>

			<div style="display: none;" showonhoverparent>
				<a class="editNewsButton" style="margin-right: 10px;cursor: pointer" ng-click="editNews(data)" tooltip="Редактировать новость" tooltip-trigger="mouseenter" tooltip-placement="top"><i class="editNewsButton fa fa-pencil fa-1x"></i></a>
				<a class="deleteNewsButton" ng-click="deleteNews(data)" style="cursor: pointer" tooltip="Удалить новость" tooltip-trigger="mouseenter" tooltip-placement="top"><i class="deleteNewsButton fa fa-times-circle-o fa-1x"></i></a>
			</div>
			<div class="clear-fix"></div>
			<div ng-bind-html="renderHtml(data.Body)">
			</div>
			<p class="text-muted" style="font-size: 11px; margin-top: 10px">{{data.DateCreate}}</p>
		</div>
		@*<div class="panel-group">
            <accordion>
                <accordion-group ng-repeat="data in news">
                    <accordion-heading>
                        <h4 style="max-width: 500px;word-wrap: break-word;" class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" class="collapsed" style="float: left">{{data.Title}}</a>
                        </h4>
                        <div style="text-align: right">
                            <p class="text-muted" style="float: right; margin-left: 20px">{{data.DateCreate}}</p>
							<a class="editNewsButton" style="margin-right: 10px" href="#" ng-click="editNews(data)" tooltip="Редактировать новость" tooltip-trigger="mouseenter" tooltip-placement="left"><i class="editNewsButton fa fa-edit fa-1x"></i></a>
							<a class="deleteNewsButton" href="#" ng-click="deleteNews(data)" tooltip="Удалить новость" tooltip-trigger="mouseenter" tooltip-placement="left"><i class="deleteNewsButton fa fa-trash-o fa-1x"></i></a>
                        </div>
                        <div class="clear-fix"></div>
                    </accordion-heading>
                    <div ng-bind-html="renderHtml(data.Body)">

                    </div>
                </accordion-group>
            </accordion>
        </div>*@
	</div>
	<div id="dialogAddNews" class="modal">
		<div class="modal-dialog panel panel-primary" style="padding: 0px">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Добавление новости</h4>
			</div>
			<div class="modal-body">
				<div>
					<div>
						<label class="control-label">Название новости</label>
						<input type="text" class="form-control" style="width: 545px" ng-model="editNewsData.Title" />
					</div>
					<div>
						<label class="control-label">Текст новости</label>
						<div class="lighter" style="width: 545px">
							<div text-angular ng-model="editNewsData.Body" name="editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
						</div>
						@*<textarea id="newsHtml" class="form-control" style="width: 545px; height: 300px" ng-model="editNewsData.Body"></textarea>*@
					</div>
					<div>
						<input type="checkbox" id="newsIsOLd" ng-model="editNewsData.IsOldDate" /><span> Оставить старую дату новости</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
				<a href="#" class="btn btn-primary btn-sm" ng-click="saveNews()" id="saveNewsButton" data-dismiss="modal">Сохранить</a>
			</div>
		</div>
	</div>
</div>
