<div ng-controller="PracticalsController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

    <tabset>
        <tab heading="Практические занятия">
            <div style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="addPracticals()">Добавить практическое занятие</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Краткое название</th>
                            <th>Часы</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in practicals">
                        <td>{{data.Order}}</td>
                        <td>{{data.Theme}}</td>
                        <td>{{data.ShortName}}</td>
                        <td>{{data.Duration}}</td>
                        <td>
                            <div>
                                <a style="margin-right: 10px" ng-click="editPracticals(data)"><i class="fa fa-edit fa-2x"></i></a>
                                <a ng-click="deletePracticals(data)"><i class="fa fa-trash-o fa-2x"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Статистика посещения">
            <div id="navPanel" style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a style="margin-right: 10px" class="btn btn-primary btn-sm">Добавить график</a>
                                </div>
                            </td>
                            <td>
                                <select ng-model="selectedGroup" ng-options="c.GroupName for c in groups" ng-change="changeGroups()" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Студент</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="student in selectedGroup.Students">
                        <td style="width: 40px">{{student.StudentId}}</td>
                        <td style="max-width: 200px">{{student.FullName}}</td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Результаты">
            <div id="navPanel" style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a style="margin-right: 10px" class="btn btn-primary btn-sm">Добавить график</a>
                                </div>
                            </td>
                            <td>
                                <select ng-model="selectedGroup" ng-options="c.GroupName for c in groups" ng-change="changeGroups()" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Студент</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="student in selectedGroup.Students">
                        <td style="width: 40px">{{student.StudentId}}</td>
                        <td style="max-width: 200px">{{student.FullName}}</td>
                    </tr>
                </table>
            </div>
        </tab>
    </tabset>
    
    <div id="dialogAddPracticals" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{editPracticalData.TitleForm}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Название практического занятия</label>
                        <textarea class="form-control" style="width: 545px" ng-model="editPracticalData.Theme"></textarea>
                    </div>
                    <div>
                        <label class="control-label">Короткое название</label>
                        <input type="text" style="width: 545px" ng-model="editPracticalData.ShortName" />
                    </div>
                    <div>
                        <label class="control-label">Количество часов (1-99)</label>
                        <input type="text" style="width: 545px" ng-model="editPracticalData.Duration" />
                    </div>
                </div>
                <div>
                    <h4 class="page-header">Прикрепленный материал</h4>
                    <div id="practicalsFile">
                        @*@Html.Partial("Common/_FilesUploader", Model.Attachments.ToList())*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a href="#" class="btn btn-primary btn-sm" ng-click="savePracticals()" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>

</div>


