<div ng-controller="PracticalsController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }

        .table-hoverT > tbody > tr:hover > td,
        .table-hoverT > tbody > tr:hover > th {
            background-color: #e7e7e7;
        }
    </style>

    <tabset>
        <tab heading="Практические занятия">
            <div style="margin-bottom: 15px; margin-top: 15px; ">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="addPracticals()">Добавить практическое занятие</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>Краткое название</th>
                            <th>Часы</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in practicals">
                        <td style="width: 20px">{{data.Order}}</td>
                        <td>{{data.Theme}}</td>
                        <td>{{data.ShortName}}</td>
                        <td>{{data.Duration}}</td>
                        <td style="width: 100px">
                            <div>
								<a style="margin-right: 10px" href="" ng-click="editPracticals(data)"><i class="fa fa-edit fa-1x" tooltip="Редактировать работу" tooltip-trigger="mouseenter" tooltip-placement="left"></i></a>
								<a ng-click="deletePracticals(data)" href="" ><i class="fa fa-trash-o fa-1x" tooltip="Удалить работу" tooltip-trigger="mouseenter" tooltip-placement="left"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Статистика посещения">
            <div id="navPanel" style="margin-bottom: 15px; margin-top: 15px; ">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="dateVisitingManagement()">Управление датами</a>
                                </div>
                            </td>
                            <td>
                                <select ng-model="groupWorkingData.selectedGroup" ng-options="c.GroupName for c in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form editable-form name="tableform" onaftersave="saveVisitingMark()" oncancel="cancel()">
                    <table class="table table-bordered table-striped table-hoverT">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Студент</th>
                                <th style="width: 50px; text-align: center" ng-repeat="visitingDate in groupWorkingData.selectedGroup.ScheduleProtectionPracticals" ng-click="addVisitingMarks(visitingDate)">
                                    {{visitingDate.Date}}
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="student in groupWorkingData.selectedGroup.Students">
                            <td style="width: 20px">{{$index + 1}}</td>
                            <td style="max-width: 200px">{{student.FullName}}</td>
                            <td style="text-align: center" ng-repeat="visitingMark in student.PracticalVisitingMark">
                                <span editable-text="visitingMark.Mark" e-name="Mark" e-form="tableform">
                                    {{ visitingMark.Mark || '' }}
                                </span>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" class="btn btn-default btn-sm" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                            Изменить
                        </button>
                    </div>
                    <div ng-show="tableform.$visible">
                        <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary btn-sm">Сохранить</button>
                        <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default btn-sm">Отмена</button>
                    </div>
                </form>
            </div>
        </tab>
        <tab heading="Результаты">
            <div id="navPanel" style="margin-bottom: 15px; margin-top: 15px; ">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="groupWorkingData.selectedGroup" ng-options="c.GroupName for c in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form editable-form name="tableformMarks" onaftersave="savePracticalsMarks()" oncancel="cancel()">
                    <table class="table table-bordered table-striped table-hoverT">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Студент</th>
                                <th style="width: 50px; text-align: center" ng-repeat="practical in practicals">{{practical.ShortName}}</th>
                                <th>Итог</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="student in groupWorkingData.selectedGroup.Students">
                            <td style="width: 20px">{{$index + 1}}</td>
                            <td style="max-width: 200px">{{student.FullName}}</td>
                            <td style="width: 50px;text-align: center;" ng-repeat="practicalMark in student.StudentPracticalMarks">
                                <span editable-text="practicalMark.Mark" e-name="Mark" e-form="tableformMarks">
                                    {{ practicalMark.Mark || '' }}
                                </span>
                            </td>
                            <td style="width: 50px;text-align: center;color: red"><b>{{student.PracticalMarkTotal}}</b></td>
                        </tr>
                    </table>
                    <div>
                        <button type="button" class="btn btn-default btn-sm" ng-show="!tableformMarks.$visible" ng-click="tableformMarks.$show()">
                            Изменить
                        </button>
                    </div>
                    <div ng-show="tableformMarks.$visible">
                        <button type="submit" ng-disabled="tableformMarks.$waiting" class="btn btn-primary btn-sm">Сохранить</button>
                        <button type="button" ng-disabled="tableformMarks.$waiting" ng-click="tableformMarks.$cancel()" class="btn btn-default btn-sm">Отмена</button>
                    </div>
                </form>
            </div>
        </tab>
    </tabset>

    <div id="dialogAddPracticals" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{editPracticalData.TitleForm}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Название практического занятия</label>
                        <textarea class="form-control" style="max-width: 545px; width: 545px;" ng-model="editPracticalData.Theme"></textarea>
                    </div>
                    <div>
                        <label class="control-label">Короткое название</label>
                        <input type="text" class="form-control" style="width: 545px" ng-model="editPracticalData.ShortName" />
                    </div>
                    <div>
                        <label class="control-label">Порядок (без валидации)</label>
                        <input type="text" class="form-control" style="width: 545px" ng-model="editPracticalData.Order" />
                    </div>
                    <div>
                        <label class="control-label">Количество часов (1-99)</label>
                        <input type="text" class="form-control" style="width: 545px" ng-model="editPracticalData.Duration" />
                    </div>
                </div>
                <div>
                    <h4 class="page-header">Прикрепленный материал</h4>
                    <div id="practicalsFile">
                        @*@Html.Partial("Common/_FilesUploader", Model.Attachments.ToList())*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a href="#" class="btn btn-primary btn-sm" ng-click="savePracticals()" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>

    <div id="dialogManagementData" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px; width: 350px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">График посещения</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Дата</label>
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width: 100%" />
                    </div>
                    <div>
                        <input ng-click="addDate()" type="button" class="btn btn-primary btn-sm" value="Добавить" style="width: 100%" />
                    </div>
                    <div>
                        <label class="control-label">График</label>
                        <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden">
                            <table class="table table-bordered table-striped">
                                <tr ng-repeat="data in groupWorkingData.selectedGroup.ScheduleProtectionPracticals">
                                    <td>
                                        <p>{{data.Date}}</p>
                                    </td>
                                    <td style="width: 20px"><a ng-click="deleteVisitingDate(data.ScheduleProtectionPracticalId)" style="margin-right: 10px"><i class="fa fa-trash-o fa-1x"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>

</div>


