@model int


<a href="/Administration/Students/@Model"  title="Редактировать">
    <span class="glyphicon glyphicon-pencil" data-studentId="@Model"/>
</a>

<a href="#" class="topopup" title="Удалить">
    <span class="glyphicon glyphicon-trash" data-studentId="@Model"/>
</a>
