@using Application.Core.UI.HtmlHelpers
@model LMPlatform.UI.ViewModels.ParentalViewModels.ParentalViewModel

<ul class="nav navbar-nav side-nav">
    <li class="dropdown navLink" >
        <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="admin-icon icon-study"></span>
            <span class="nav-item">Предметы</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            @foreach (var subject in @Model.Subjects)
            {
                <li class="navLink">
                    <a href="#Plan/@subject.Id">
                        <i class="linkNavbarLevelBelow"></i>
                        <span class="nav-item">@subject.Name</span>
                    </a>
                </li>
            }
        </ul>
    </li>
    <li class="navLink">
        <a href="#Statistics">
            <span class="admin-icon icon-stats"></span>
            <span class="nav-item">Статистика</span>
        </a>
    </li>
</ul>
<script>
    $(document).ready(function () {

        $('.navLink').handle("click", function () {
            var that = this;
            var links = $('ul.nav.navbar-nav.side-nav').find('li');
            links.each(function () {
                $(this).removeClass("active");
            });
            $(that).addClass("active");
        });

    });
</script>
