@{
    Layout = "~/Views/Shared/_BTSLayout.cshtml";
}

<div class="container" style="margin: 10px">
    <div class="row">
        <div class="col-md-8">
            @RenderSection("projectFeatures")
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">Анализ ошибок проекта</h3>
                </div>
            </div>

            @RenderSection("projectErrors")
        </div>

    </div>
</div>
