<div ng-controller="NewsController" ng-init="init()">
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

	<div>
		<div class="bs-callout bs-callout-info bs-callout-fill" ng-if="!data.Disabled" ng-repeat="data in news">
			<h4 style="max-width: 500px; word-wrap: break-word; margin-right: 10px;">{{data.Title}}</h4>
			
			<div ng-bind-html="renderHtml(data.Body)">
			</div>
			<p class="text-muted" style="font-size: 11px; margin-top: 10px">{{data.DateCreate}}</p>
		</div>
	</div>
</div>
