<div class="page-header">
    <h2>Контроль успеваемости</h2>
</div>

<p>
    Модуль "Контроль успеваемости" позволяет:
    <br/>
    - получить информацию об усвоении учёбной программы группы в целом;
    <br />
    - узнать подробную информацию по каждому студенту;
    <br />
    - просмотреть учебный план по каждому предмету.
</p>