@model LMPlatform.UI.ViewModels.ParentalViewModels.ParentalViewModel

@section headscripts
{
    <script src="/Scripts/printThis.js" type="text/javascript"></script>
    <script src="/Scripts/tableToExcel.js" type="text/javascript"></script>
}

<div ng-app="parentalApp" ng-controller="MainCtrl" ng-init="init('@Model.Group.Id')">
    <div ng-view></div>
</div>