@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using LMPlatform.UI.ViewModels.ParentalViewModels
@model LMPlatform.UI.ViewModels.ParentalViewModels.StatisticsViewModel
@{
    ViewBag.Title = "Успеваемость";
    Layout = "~/Views/Shared/Layouts/_ParentalLayout.cshtml";
}
@section title
{
    Успеваемость
}
@section headscripts
{
}
<div ng-controller="StatCtrl" ng-init="init(@Model.Group.Id)">

    <select class="form-control" ng-model="subject" ng-options="sbjct.Name for sbjct in Subjects"></select><br />
    <div class="print-btn">
        <a href="#" onclick="printArea('print-table')">
            <i class="fa fa-print"></i>
            <span>Печать</span>
        </a>
    </div>
    <div id="print-table">
        <link rel="stylesheet" href="/Content/admin.css">
        <table id="stat-table">
            <caption>
                {{subject.Name}}
            </caption>
            <thead>
                <tr>
                    <th rowspan="2">ФИО</th>
                    <th colspan="4">Пропуски, ч.</th>
                    <th colspan="3">Средний балл (Кол-во)</th>
                </tr>
                <tr>
                    <th>Лекции</th>
                    <th>Лаборатоные</th>
                    <th>Практические</th>
                    <th>Всего</th>
                    <th>Лаборатоные</th>
                    <th>Практические</th>
                    <th>Общий</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in subjectStat">
                    <td>{{$index + 1}}. {{student.Name}}</td>
                    <td>{{student.LecHours}}</td>
                    <td>{{student.LabHours}}</td>
                    <td>{{student.PractHours}}</td>
                    <td>{{student.TotalHours}}</td>
                    <td ng-if="student.LabMark > 0">{{student.LabMark}} ({{student.LabsCount}})</td>
                    <td ng-if="student.LabMark <= 0">-</td>
                    <td ng-if="student.PractMark > 0">{{student.PractMark}} ({{student.PractsCount}})</td>
                    <td ng-if="student.PractMark <= 0">-</td>
                    <td ng-if="student.PractMark > 0">{{(student.PractMark + student.LabMark)/2}}</td>
                    <td ng-if="student.PractMark <= 0">-</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<style>

</style>



