@model IEnumerable<LMPlatform.Models.Student>


<div id="adminModal">
    <table class="table table-bordered table-striped table-hover">
        <caption> @Model.ToArray()[0].Group.Name </caption>
        <thead>
            <tr>
            <th>Студент &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                <th>Потвержден</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>

                    <td>@i.FullName</td>
                    <td>@i.Confirmed.HasValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('#editStudent a').tooltip(
    {
        placement: "right",
    });
</script>
