@model IEnumerable<LMPlatform.Models.Student>


<div id="adminModal">
    <table class="table table-bordered table-striped table-hover">
        <caption>
	        @{
				var name = string.Empty;
				if (Model.ToArray().Count() != 0)
				{
					name = Model.ToArray()[0].Group.Name;
				}
			}
			@name
		</caption>
        <thead>
            <tr>
            <th>Студент &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                <th>Подтвержден</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.FullName</td>
					<td>@if (i.Confirmed == null || i.Confirmed.Value)
                    {
                        @:Подтвержден
                    }
                    else
                    {
                        @:Не подтвержден
                    }</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $('#editStudent a').tooltip(
    {
        placement: "right",
    });
</script>
