@using Microsoft.Ajax.Utilities
@model LMPlatform.UI.ViewModels.AdministrationViewModels.ListSubjectViewModel



<div id="adminModal">

    <table class="table table-bordered table-striped table-hover">
        <caption> @Model.Name</caption>
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Группа</th>
                <th>Количество студентов</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var i in Model.Subjects.Distinct())
            {
                <tr>

                    <td>@i.Name</td>
                    <td>
                        @foreach (var sub in i.SubjectGroups)
                        {
                            if (sub.Group != null)
                            {
                                @sub.Group.Name 
                                <br/>                            
                            }

                        }
                    </td>
<td>
                        @foreach (var sub in i.SubjectGroups)
                        {
                            if (sub.Group != null)
                            {
                                <b>@sub.Group.Students.Count</b>
                                <br/>
                            }

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $('#editStudent a').tooltip(
    {
        placement: "right",
    });
</script>