@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model dynamic

@{
    ViewBag.Title = "Группы";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}

<div class="page-header">
    <h2>Группы</h2>
</div>
<div>
    <div id="buttonActionSection" role="link">
        <a href="@Url.Action("AddGroup", "Administration")" class="addButton" data-toggle="tooltip"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <div>@Html.Partial("_DataTable", new DataTableViewModel
         {
             DataTable = Html.DataTable("groupList", (AdministrationController controller) => controller.GetCollectionGroups(new DataTablesParam() { })),
             DataTableOptions = new DataTableOptions
                 {
                     Pagination = true,
                     Searchable = true,
                     Sortable = false,
                     Filterable = true,
                     Info = false,
                     OnComplete = "initGroupManagement"
                 }
         })
    </div>
</div>
