@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model dynamic

@{
    ViewBag.Title = "Группы";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}

<h2>Группы</h2>
<div>@Html.Partial("_DataTable", new DataTableViewModel
            {
                DataTable = Html.DataTable("groupList", (AdministrationController controller) => controller.GetCollectionGroups(new DataTablesParam() { })),
                DataTableOptions = new DataTableOptions
                 {
                     Pagination = true,
                     Searchable = true,
                     Sortable = false,
                     Filterable = true,
                     Info = false,
                 }
            })
</div>
