@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}

@section scripts
{
    <script src="~/Scripts/jquery.sparkline.min.js" type="text/javascript"></script>
}

@section title
{
    Администрирование LMS
}
<div style="margin: 0 0 0 50px; width: 500px; float: left;">
    <h4>Последние изменения</h4>
    <br />
</div>

<div style="margin: 0 0 0 50px; float: left;">
    <h4>Статистика посещаемости</h4>
</div>
