@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model dynamic

@{
    ViewBag.Title = "Преподаватели";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}

<h2>Преподаватели</h2>

<div>
    @Html.ActionLink("Добавить преподавателя","AddProfessor")
    <div>@Html.Partial("_DataTable", new DataTableViewModel
             {
                 DataTable = Html.DataTable("professorsList", (AdministrationController controller) => controller.GetCollectionLecturers(new DataTablesParam() { })),
                 DataTableOptions = new DataTableOptions
                     {
                         Pagination = true,
                         Searchable = true,
                         Sortable = false,
                         Filterable = true,
                         Info = false

                     }
             })
    </div>
</div>

