@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model dynamic

@{
    ViewBag.Title = "Преподаватели";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}

@section title
{
    Преподаватели
}
<div id='professors' style="margin: 0 50px 0 50px">
    <div style="margin-bottom: 20px">
        <h4>Список</h4>
    </div>
    <div id="buttonActionSection">
        <a href="@Url.Action("AddProfessor", "Administration")" class="addButton btn btn-primary btn-sm" data-toggle="tooltip">Добавить преподавателя</a>
    </div>
    <div>@Html.Partial("_DataTable", new DataTableViewModel
             {
                 DataTable = Html.DataTable("professorsList", (AdministrationController controller) => controller.GetCollectionLecturers(new DataTablesParam() { })),
                 DataTableOptions = new DataTableOptions
                     {
                         Pagination = false,
                         Searchable = true,
                         Sortable = false,
                         Filterable = true,
                         Info = false,
                         OnComplete = "initLecturerManagement"
                     }
             })
    </div>
</div>

<div style="float: left; width: 350px">
    <div style="overflow-x: hidden;">
        <div class="panel-heading">
            <h4></h4>
        </div>
    </div>

    <div style="overflow-x: hidden">
        <div class="panel-heading">
            <h4></h4>
        </div>
    </div>
</div>
