@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model dynamic

@{
    ViewBag.Title = "Студенты";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/jqplot/jquery.jqplot.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jqplot/jqplot.dateAxisRenderer.min.js" type="text/javascript"></script>
}

@section title
{
    Студенты
}
<div>
    <div>@Html.Partial("_DataTable", new DataTableViewModel
             {
                 DataTable = Html.DataTable("studentList", (AdministrationController controller) => controller.GetCollectionStudents(new DataTablesParam() { })),
                 DataTableOptions = new DataTableOptions
                     {
                         Pagination = false,
                         Searchable = true,
                         Sortable = false,
                         Filterable = true,
                         Info = false,
                         DisplayLength = -1,
                         OnComplete = "initStudentManagement"
                     }
             })
    </div>
</div>

