@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@using Mvc.JQuery.Datatables
@model dynamic

@{
    ViewBag.Title = "Студенты";
    Layout = "~/Views/Shared/Layouts/_AdministrationLayout.cshtml";
}

@section title
{
    Студенты
}
<div>
    @*<div style="margin-bottom: 20px">
        <h4>Список</h4>
    </div>*@
    <div>@Html.Partial("_DataTable", new DataTableViewModel
             {
                 DataTable = Html.DataTable("studentList", (AdministrationController controller) => controller.GetCollectionStudents(new DataTablesParam() { })),
                 DataTableOptions = new DataTableOptions
                     {
                         Pagination = false,
                         Searchable = true,
                         Sortable = false,
                         Filterable = true,
                         Info = false,
                         DisplayLength = -1,
                         OnComplete = "initStudentManagement"
                     }
             })
    </div>
</div>

<div style="float: left; width: 350px">
    <div style="overflow-x: hidden;">
        <div class="panel-heading">
            <h4></h4>
        </div>
    </div>

    <div style="overflow-x: hidden">
        <div class="panel-heading">
            <h4></h4>
        </div>
    </div>
</div>
