@model LMPlatform.UI.ViewModels.SubjectViewModels.SubjectViewModel
<div style="text-align: center">
    <a class="editSubjectAction" style="margin-right: 10px" href="@Url.Action("EditSubject", "Subject",new {id = Model.SubjectId})"><i class="editSubject fa fa-edit fa-1x"></i></a>
    <a class="deleteSubjectButton" href="@Url.Action("DeleteSubject", "Subject", new {id = Model.SubjectId})"><i class="deleteSubject fa fa-trash-o fa-1x"></i></a>
</div>

