@model LMPlatform.UI.ViewModels.SubjectViewModels.SubjectManagementViewModel
@{
    ViewBag.Title = Model.SubjectName;
    Layout = "../Shared/Layouts/_MainUsingNavLayout.cshtml";
}

@section navleft
{
        <li><a href="#">Новости</a></li>
        <li><a href="#">Лекции</a></li>
        <li><a href="#">Лабораторные работы</a></li>
        <li><a href="#">График защиты</a></li>
        <li><a href="#">Статистика посещения</a></li>
        <li><a href="#">Результаты</a></li>
        <li><a href="#">Файлы</a></li>
        <li><a href="#">Архив</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Назначение проектов</a></li>
}

@section navpanel
{
    @Model.SubjectName
}

<div style="margin: 10px" class="conteiner">
    @Html.Partial("UnderConstruction")
</div>
