@{
    ViewBag.Title = "Diplom Project Management";
    Layout = "~/Views/Shared/Layouts/_LayoutBase.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/dpModule")
}

@section navleft
{
    <li class="navLink"><a href="#/Projects" class="moduleLinks">Темы дипломных проектов</a></li>
    <li class="navLink"><a href="#/ProjectAssignment" class="moduleLinks">Назначение дипломных проектов</a></li>
    <li class="navLink"><a href="#/TaskSheet" class="moduleLinks">Лист задания</a></li>
    <li class="navLink"><a href="#/ScheduleProtection" class="moduleLinks">График процентовки</a></li>
    <li class="navLink"><a href="#/PercentagesResults" class="moduleLinks">Результаты процентовки</a></li>
    <li class="navLink"><a href="#/VisitStats" class="moduleLinks">Статистика посещения консультаций</a></li>
}

@section body
{
    <div ng-app="dpApp" ng-controller="homeCtrl" style="padding-top: 40px">
        <h1 class="panel-title text-center" style="font-size: 25px;padding: 10px;">{{Title}}</h1>
        <section class="well">
            <div style="margin: 5px">
                <div>
                    <div ng-view></div>
                </div>
            </div>
        </section>
    </div>
}