@{
    ViewBag.Title = "Дипломное проектирование";
    ViewBag.NgApp = "dpApp";
    ViewBag.NgController = "homeCtrl";
    Layout = "~/Views/Shared/Layouts/_LayoutBase.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/dpModule")
}

@section navleft
{
    <li ng-class="{active:isActive('/Projects')}" class="navLink"><a href="#/Projects" class="linkNavbar">Темы дипломных проектов</a></li>
    <li ng-class="{active:isActive('/TaskSheet')}" ng-show="!user.IsSecretary" class="navLink"><a href="#/TaskSheet" class="linkNavbar">Лист задания</a></li>
    <li ng-class="{active:isActive('/Percentages')}" class="navLink"><a href="#/Percentages" class="linkNavbar">График процентовки</a></li>
    <li ng-class="{active:isActive('/PercentageResults')}" class="navLink"><a href="#/PercentageResults" class="linkNavbar">Результаты процентовки</a></li>
    <li ng-class="{active:isActive('/VisitStats')}" ng-show="!user.IsSecretary" class="navLink"><a href="#/VisitStats" class="linkNavbar">Статистика посещения консультаций</a></li>
}

@section headerTitle
{
	<h1>{{Title}}</h1>
}


@section body
{
	<div ng-view></div>
}