<div>
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" class="table table-bordered table-striped table-hover dataTable">
            <tr ng-repeat="percentage in $data">
                <td width="65%" style="text-align: left;" data-title="'Этап'">{{percentage.Name}}</td>
                <td width="20%" data-title="'Процент выполнения'">{{percentage.Group}}</td>
                <td width="20%" data-title="'Дата'">{{percentage.Date}}</td>
                <td width="15%" data-title="'Действие'">
                    <a ng-click="assignProject(student.Id)" class="deleteSubjectButton" style="margin-right: 10px">
                        <i tooltip-placement="left" tooltip="Назначить" class="deleteSubject fa fa-list-alt fa-2x"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
