<div>
    <div ng-show="user.IsLecturer && !user.IsSecretary" style="margin-bottom: 20px;width:700px;">
        <ui-select ng-show="groups.length>1" on-select="selectGroup($item)" ng-model="group.Id" theme="bootstrap">
            <ui-select-match placeholder="Выберите секретаря">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in groups | filter: $select.search">
                <div>{{item.Name}}</div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div loading-container="tableParams.settings().$loading">
        <table ng-show="groups.length==1 ||selectedGroupId||user.IsSecretary" ng-table="tableParams" class="table table-bordered table-striped table-hover dataTable">
            <thead>
                <tr>
                    <th width="1%">N</th>
                    <th width="70%">Студент</th>
                    <th width="5%" ng-repeat="percentage in percentages">{{formatDate(parseDate(percentage.Date), "dd/mm")}}</th>
                    <th width="5%">Оценка</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in $data">
                    <td style="width:1%;text-align: left;">{{$index+1}}</td>
                    <td width="70%" style="text-align: left;">{{student.Name}}</td>
                    <td ng-repeat="percentage in percentages" width="5%" style="text-align: center;">
                        <a ng-show="user.IsLecturer && !user.IsSecretary" editable-text="getPercentageResult(student, percentage.Id).Mark" href="#"
                           onbeforesave="savePercentageResult(getPercentageResult(student, percentage.Id), $data)">
                            {{getPercentageResult(student, percentage.Id).Mark != null ? getPercentageResult(student, percentage.Id).Mark : '-'}}
                        </a>
                        <span ng-show="!user.IsLecturer || user.IsSecretary">{{getPercentageResult(student, percentage.Id).Mark}}</span>
                    </td>
                    <td width="5%" style="text-align: center;">
                        <a ng-show="user.IsLecturer && !user.IsSecretary" editable-text="student.Mark" href="#"
                           onbeforesave="saveStudentMark(student.AssignedDiplomProjectId, $data)">
                            {{student.Mark || '-'}}
                        </a>
                        <span ng-show="!user.IsLecturer || user.IsSecretary">{{student.Mark}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
