<div>
    <div ng-show="user.IsLecturer && !user.IsSecretary" style="width:700px;height: 100%">
        <ui-select ng-show="groups.length>1" on-select="selectGroup($item)" ng-model="group" theme="bootstrap">
            <ui-select-match placeholder="Выберите секретаря ГЭК">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="item.id as item in groups | filter: $select.search">
                <div>{{item.Name}}</div>
            </ui-select-choices>
        </ui-select>
    </div>
    <br/>
    <div loading-container="tableParams.settings().$loading">
        <table ng-show="groups.length==1 ||selectedGroupId||user.IsSecretary" ng-table="tableParams" class="table table-bordered table-striped table-hover dataTable">
            <thead>
                <tr>
                    <th width="1%">№</th>
                    <th width="70%" ng-show="user.IsSecretary" class="sortable" ng-class="{
                        'sort-asc': tableParams.isSortBy('Name', 'asc'),
                        'sort-desc': tableParams.isSortBy('Name', 'desc')
                        }"
                        ng-click="tableParams.sorting({'Name' : tableParams.isSortBy('Name', 'asc') ? 'desc' : 'asc'})">
                        <div>Студент</div>
                    </th>
                    <th width="5%" ng-show="user.IsSecretary" class="sortable" ng-class="{
                        'sort-asc': tableParams.isSortBy('Group', 'asc'),
                        'sort-desc': tableParams.isSortBy('Group', 'desc')
                        }"
                        ng-click="tableParams.sorting({'Group' : tableParams.isSortBy('Group', 'asc') ? 'desc' : 'asc'})">
                        <div>Группа</div>
                    </th>
                    <th width="5%" ng-show="user.IsSecretary" class="sortable" ng-class="{
                        'sort-asc': tableParams.isSortBy('Lecturer', 'asc'),
                        'sort-desc': tableParams.isSortBy('Lecturer', 'desc')
                        }"
                        ng-click="tableParams.sorting({'Lecturer' : tableParams.isSortBy('Lecturer', 'asc') ? 'desc' : 'asc'})">
                        <div>Руководитель</div>
                    </th>
                    <th width="5%" ng-repeat="percentage in percentages">{{formatDate(parseDate(percentage.Date), "dd/mm")}}</th>
                    <th width="5%">Оценка</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in $data">
                    <td style="width:1%;text-align: left;">{{$index+1}}</td>
                    <td width="70%" style="text-align: left;">{{student.Name}}</td>
                    <td ng-show="user.IsSecretary" width="5%" style="text-align: left;">{{student.Group}}</td>
                    <td ng-show="user.IsSecretary" width="5%" style="text-align: left;">{{student.Lecturer}}</td>
                    <td ng-repeat="percentage in percentages" width="5%" style="text-align: center;">
                        <a ng-show="user.IsLecturer && !user.IsSecretary" editable-text="getPercentageResult(student, percentage.Id).Mark" href="#"
                           onbeforesave="savePercentageResult(getPercentageResult(student, percentage.Id), $data)">
                            {{getPercentageResult(student, percentage.Id).Mark != null ? getPercentageResult(student, percentage.Id).Mark : '-'}}
                        </a>
                        <span ng-show="!user.IsLecturer || user.IsSecretary">{{getPercentageResult(student, percentage.Id).Mark}}</span>
                    </td>
                    <td width="5%" style="text-align: center;">
                        <a ng-show="user.IsLecturer && !user.IsSecretary" editable-text="student.Mark" href="#"
                           onbeforesave="saveStudentMark(student.AssignedDiplomProjectId, $data)">
                            {{student.Mark || '-'}}
                        </a>
                        <span ng-show="!user.IsLecturer || user.IsSecretary">{{student.Mark}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
