@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
    ViewBag.Title = "Система управления учебны процессом";
}

@section css
{
    @Styles.Render("~/Content/bootstrapcontrols")
}
@section scripts
{
    @Scripts.Render("~/bundles/bootstrapcontrols")
    <script src="/Scripts/locales/bootstrap-datepicker.ru.js"></script>
}

@section subnavbar
{
    @Html.Partial("Lms/_LmsNaBar",@Model.Subjects)
}

<div style="margin: 10px">
    <div class="text-primary" style="text-align: center">
        <h1>Добро пожаловать в систему управления учебный процессом</h1>
    </div>
    <div class="text-primary">
        <h3>Последние события и новости</h3>
    </div>
</div>
