@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
    ViewBag.Title = "Система управления учебны процессом";
}

@section css
{
    @Styles.Render("~/Content/bootstrapcontrols")
}
@section scripts
{
    @Scripts.Render("~/bundles/bootstrapcontrols")
    <script src="/Scripts/locales/bootstrap-datepicker.ru.js"></script>
}

@section subnavbar
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Предметы</h3>
        </div>
        <div class="panel-body">
            @foreach (var subject in Model.Subjects)
            {
                <a href="#" class="btn btn-primary btn-subject">@subject.DisplayName</a>        
            }
@*            <a href="#" class="btn btn-primary btn-subject">Базы данных</a>
            <a href="#" class="btn btn-primary btn-subject">Языки программирования</a>
            <a href="#" class="btn btn-primary btn-subject">Надежность ПО</a>
            <a href="#" class="btn btn-primary btn-subject">Компьютерные сети и системы</a>*@
        </div>
    </div>
    <div class="span3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title" style="color: white">Календарь событий</h1>
            </div>
            <div class="panel-body">
                <div id="dateEvent"></div>
            </div>
        </div>
    </div>
}

<div style="margin: 10px">
    <div class="text-primary" style="text-align: center">
        <h1>Добро пожаловать в систему управления учебный процессом</h1>
    </div>
    <div class="text-primary">
        <h3>Последние собития и новости</h3>
    </div>
</div>
