<style>
	.lmsMainContainer {
		padding: 30px;
	}

		.lmsMainContainer .panel-title {
			font-size: 23px;
		}

		.lmsMainContainer .sheduleContainer, .lmsMainContainer .newsContainer {
			height: 300px;
		}

		.lmsMainContainer .statisticContainer {
			height: 250px;
		}

		.lmsMainContainer .allNews {
			width: 150px;
		}

		.lmsMainContainer .calendarContainer {
			border-right: #dddddd solid 1px;
			height: 300px;
			margin-top: -15px;
		}

			.lmsMainContainer .calendarContainer #datetimepicker {
				margin-top: 20px;
			}

		.lmsMainContainer .subjectsContainer li {
			list-style: none;
		}

			.lmsMainContainer .subjectsContainer li.subjectColorRed:before {
				content: "";
				position: relative;
				left: -10px;
				background-color: red;
				display: inline-block;
				width: 5px;
				height: 6px;
				border-radius: 50%;
			}

			.lmsMainContainer .subjectsContainer li.subjectColorOrange:before {
				content: "";
				position: relative;
				left: -10px;
				background-color: orange;
				display: inline-block;
				width: 5px;
				height: 6px;
				border-radius: 50%;
			}

			.lmsMainContainer .subjectsContainer li.subjectColorGreen:before {
				content: "";
				position: relative;
				left: -10px;
				background-color: green;
				display: inline-block;
				width: 5px;
				height: 6px;
				border-radius: 50%;
			}

			.lmsMainContainer .subjectsContainer li.subjectColorTeal:before {
				content: "";
				position: relative;
				left: -10px;
				background-color: teal;
				display: inline-block;
				width: 5px;
				height: 6px;
				border-radius: 50%;
			}

			.lmsMainContainer .subjectsContainer li.subjectColorViolet:before {
				content: "";
				position: relative;
				left: -10px;
				background-color: blueviolet;
				display: inline-block;
				width: 5px;
				height: 6px;
				border-radius: 50%;
			}

	.date-text {
		color: #737374;
		background: #ecf0f1;
		border-radius: 20px;
		margin-left: 27px;
		padding: 7px;
		width: 87px;
	}

	.lmsMainContainer .statisticContainer .circleContainer {
		margin-left: 30%;
		margin-top: 30px;
	}

	.lmsMainContainer .statisticContainer .subjectInfo {
		margin-top: 10px;
	}

	.lmsMainContainer .icon {
		color: #3c8dbc;
	}
</style>

<div class="lmsMainContainer">
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-1">
							<i class="fa fa-calendar fa-1x icon"></i>
						</div>
						<div class="col-md-11 text-center">
							<h1 class="panel-title">Расписание занятий</h1>
						</div>
					</div>
				</div>
				<div class="panel-body sheduleContainer">
					<div class="row">
						<div class="col-md-6 calendarContainer">
							<div id="datetimepicker"></div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<h4>Список предметов</h4>
							</div>
							<div class="date-text">20.01.2017</div>
							<div>
								<ul class="subjectsContainer">
									<li class="subjectColorRed">Надежность ПО</li>
									<li class="subjectColorOrange">Модульное тестирование</li>
									<li class="subjectColorGreen">Системное программирование</li>
									<li class="subjectColorTeal">Базы данных</li>
									<li class="subjectColorViolet">Алгоритмы и методы принятия решений</li>
								</ul>
							</div>
							<div class="text-right">
								<a href="#">Подробное расписание</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-1">
							<i class="fa fa-newspaper-o fa-1x icon"></i>
						</div>
						<div class="col-md-11 text-center ">
							<h1 class="panel-title">Новости и объявления <span class="badge">42</span></h1>
						</div>
					</div>
				</div>
				<div class="panel-body newsContainer">
					<div class="newsHeader text-center">
						<a href="#">«РАБОТАТЬ НА РЕЗУЛЬТАТ!» - ТАКОВ ДЕВИЗ ПЕРВИЧНОЙ ОРГАНИЗАЦИИ РОО «БЕЛАЯ РУСЬ» БНТУ (11.03.2017)</a>
					</div>
					<div class="newsBody" style="height: 180px; overflow: auto;">
						<p>
							1 марта 2017 года в первичной организации РОО «Белая Русь» БНТУ прошло отчетно-выборное собрание.

							На собрании присутствовали: первый проректор БНТУ Вершина Г.А., Депутат Палаты Представителей Национального собрания Республики Беларусь Шевцов Д.Е. и заместитель председателя Советской районной организации г. Минска РОО «Белая Русь» Никитина О.А., заместители деканов, представители центров, управлений, отделов и других структурных подразделений БНТУ, заведующие лабораториями, профессорско-преподавательский состав БНТУ.
						</p>
					</div>
					<div class="text-right">
						<input type="button" class="btn btn-sm btn-default allNews" value="Все новости" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-1">
							<i class="fa fa-pie-chart fa-1x icon"></i>
						</div>
						<div class="col-md-11 text-center">
							<h1 class="panel-title">Статистика по предметам</h1>
						</div>
					</div>
				</div>
				<div class="panel-body statisticContainer">
					<div class="row">
						<div class="col-md-3 ">
							<div class="text-center">
								Завершенность курса
							</div>
							<div class="c100 p30 blue circleContainer">
								<span>30%</span>
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div>
								<a href="#">Надежность программного обеспечения</a>
							</div>
							<div class="subjectInfo">
								<p class="text-info">Защищено работа: 6 из 10</p>
								<p class="text-info">Написано тестов: 2 из 4</p>
								<p class="text-info">Рейтинг по предмету: 9</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="text-center">
								Завершенность курса
							</div>
							<div class="c100 p70 blue circleContainer">
								<span>70%</span>
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div>
								<a href="#">Модульное тестирование</a>
							</div>
							<div class="subjectInfo">
								<p class="text-info">Защищено работа: 6 из 10</p>
								<p class="text-info">Написано тестов: 2 из 4</p>
								<p class="text-info">Рейтинг по предмету: 9</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	/**
 * Russian translation for bootstrap-datepicker
 * Victor Taranenko <darwin@snowdale.com>
 */
	(function ($) {
		$.fn.datepicker.dates['ru'] = {
			days: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
			daysShort: ["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
			daysMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
			months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
			monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
			today: "Сегодня",
			clear: "Очистить",
			format: "dd.mm.yyyy",
			weekStart: 1,
			monthsTitle: 'Месяцы'
		};
	}(jQuery));
	$(function () {
		$('#datetimepicker').datepicker({
			language: "ru",
			todayHighlight: true
		});
	});
</script>

