<div ng-controller="LecturesController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }

         .box_rotate {
            
     -moz-transform: rotate(270deg);  /* FF3.5+ */
       -o-transform: rotate(270deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
    </style>

    <tabset>
        <tab heading="Лекции">
            <div class="table-responsive" style="margin-top: 20px;">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Тема лекции</th>
                            <th>Количество часов</th>
                            <th>Скачать</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in lectures">
                        <td style="width: 20px">{{data.Order}}</td>
                        <td style="max-width: 400px;word-wrap: break-word;">{{data.Theme}}</td>
                        <td>{{data.Duration}}</td>
                        <td style="width: 90px;">
                            <div class="btn-group pull-right">
					            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					                      Файлы
					                      <span class="caret"></span>
					                  </button>
					            <ul class="dropdown-menu" role="menu">
					                <li ng-repeat="file in data.Attachments"><a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="file.Name" download="file.Name">{{file.Name}}</a></li>
					            </ul>
					        </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Посещение лекций">
            <div id="navPanel" style="margin-top: 10px;margin-bottom: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(groupWorkingData.selectedGroup)" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
            <div>
                <div style="overflow-x: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                                 <tr>
                                     <th style="text-align: center;vertical-align: middle">№</th>
                                     <th style="text-align: center; vertical-align: middle;width: 300px">Студент</th>
                                     <th ng-repeat="data in lecturesCalendar" style="height: 80px;width: 10px;padding-bottom: 45px;padding-left: 15px;">
                                         <div class="box_rotate" style="position:absolute">{{data.Date}}</div>
                                     </th>
                                 </tr>
                             </thead>
                        <tr ng-repeat="student in groupWorkingData.selectedGroup.LecturesMarkVisiting">
                            <td style="width: 20px">{{$index + 1}}</td>
                            <td style="max-width: 300px;min-width: 300px"><a href="~/Profile/Page?userLogin={{student.Login}}">{{student.StudentName}}</a></td>
                            <td ng-repeat="data in student.Marks" style="text-align: center">{{data.Mark}}</td>
                        </tr>  
                    </table>
                </div>
            </div>
        </tab>
    </tabset>
</div>
