<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Тестирование знаний</h3>
    </div>
    <div class="list-group">
        @Html.ActionLink("Тесты", "TestsList", "TestsManagement", null, new { @class = "list-group-item" })
        @Html.ActionLink("Результаты", "TestResults", "TestsManagement", null, new { @class = "list-group-item" })
    </div>
</div>

