@model dynamic

@{
    ViewBag.Title = "Сообщения";
}
@section css
{
    <link rel="stylesheet" href="/Content/chosen/chosen.css">
}
@section scripts
{
    <script src="/Scripts/chosen/chosen.jquery.js" type="text/javascript"></script>
    <script src="/Scripts/application/message.js" type="text/javascript"></script>
}

<div class="page-header">
    <h2>Сообщения</h2>
</div>
<div>
    <div id="buttonActionSection">
        <a href="@Url.Action("WriteMessage", "Message")" class="msgButton btn btn-primary btn-sm" data-toggle="tooltip">Написать сообщение</a>
    </div>
</div>
