@using Application.Core.UI.HtmlHelpers
@using LMPlatform.UI.Controllers
@model LMPlatform.UI.ViewModels.MessageViewModels.MessageListViewModel

@{
    ViewBag.Title = "Сообщения";
}
@section css
{
    <link rel="stylesheet" href="/Content/chosen/chosen.css">
}
@section scripts
{
    @Scripts.Render("~/bundles/datatable")
    <script src="/Scripts/chosen/chosen.jquery.js" type="text/javascript"></script>
    <script src="/Scripts/application/message.js" type="text/javascript"></script>
}

<div class="page-header">
    <h2>Сообщения</h2>
</div>
<div>
    <div id="buttonActionSection">
        <a href="#" class="msgButton btn btn-primary btn-sm" data-url="@Url.Action("WriteMessage", "Message")" data-toggle="tooltip">Написать сообщение</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#inbox" data-toggle="tab">Входящие</a></li>
            <li><a href="#sent" data-toggle="tab">Отправленные</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="inbox">
                <div>@Html.Partial("_MessageDataTable", new DataTableViewModel
             {
                 DataTable = Html.DataTable("incomingMessageList", (MessageController controller) => controller.GetCollectionMessages(null), new { isIncoming = true }),
                 DataTableOptions = new DataTableOptions
                     {
                         Pagination = true,
                         Searchable = true,
                         Sortable = false,
                         Filterable = true,
                         Info = false,
                         //OnComplete = ""
                     }
             })
                </div>
            </div>
            <div class="tab-pane" id="sent">

                <div>@Html.Partial("_MessageDataTable", new DataTableViewModel
             {
                 DataTable = Html.DataTable("outcomingMessageList", (MessageController controller) => controller.GetCollectionMessages(null), new { isIncoming = false }),
                 DataTableOptions = new DataTableOptions
                     {
                         Pagination = true,
                         Searchable = true,
                         Sortable = false,
                         Filterable = true,
                         Info = false,
                         //OnComplete = ""
                     }
             })
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
