<div class="list-group">
    @Html.ActionLink("Тесты", "Tests", "KnowledgeTesting", null, new {@class="list-group-item"})
    @Html.ActionLink("Результаты", "TestResults", "KnowledgeTesting", null, new {@class="list-group-item"})
</div>
