
<div ng-controller="LabsController">
    
    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

    <tabset>
        <tab heading="Лабораторные работы">Лабораторные работы</tab>
        <tab heading="График защиты">График защиты</tab>
        <tab heading="Статистика посещения">Статистика посещения</tab>
        <tab heading="Результаты">Результаты</tab>
    </tabset>

</div>


