<div ng-controller="LabsController" ng-init="init()">

    <style type="text/css">
        .nav, .pagination, .carousel, .panel-title a {
            cursor: pointer;
        }
    </style>

    <tabset>
        <tab heading="Лабораторные работы">
            <div style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a id="addLabsButton" style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="addLabs()">Добавить лабораторную работу</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Краткое название</th>
                            <th>Часы</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in labs">
                        <td>{{data.Order}}</td>
                        <td>{{data.Theme}}</td>
                        <td>{{data.ShortName}}</td>
                        <td>{{data.Duration}}</td>
                        <td style="width: 90px;">
                            <div>
                                <a style="margin-right: 10px" ng-click="editLabs(data)"><i class="fa fa-edit fa-2x"></i></a>
                                <a ng-click="deleteLabs(data)"><i class="fa fa-trash-o fa-2x"></i></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="График защиты">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div id="buttonActionSection">
                                    <a style="margin-right: 10px" class="btn btn-primary btn-sm" ng-click="managementDate()">Управление датами</a>
                                </div>
                            </td>
                            <td>
                                <select ng-model="selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(selectedGroup)" class="form-control"></select>
                            </td>
                            <td>
                                <select ng-model="selectedSubGroup" ng-options="subGroup.Name for subGroup in subGroups" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Лабораторная работа</th>
                            <th ng-repeat="data in selectedSubGroup.ScheduleProtectionLabs">
                                <div style="cursor: pointer">{{data.Date}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="data in selectedSubGroup.Labs">
                        <td style="width: 40px">{{data.Order}}</td>
                        <td style="max-width: 200px">{{data.ShortName}}</td>
                        <td style="width: 50px; text-align: center" ng-repeat="recomend in data.ScheduleProtectionLabsRecomend">
                            {{recomend.Mark}}
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Статистика посещения">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="selectedGroup" ng-options="group.GroupName for group in groups" ng-change="changeGroups(selectedGroup)" class="form-control"></select>
                            </td>
                            <td>
                                <select ng-model="selectedSubGroup" ng-options="subGroup.Name for subGroup in subGroups" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Студент</th>
                            <th ng-repeat="data in selectedSubGroup.ScheduleProtectionLabs">
                                <div style="cursor: pointer" ng-click="editVisitingMarks(data)">{{data.Date}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="student in selectedSubGroup.Students">
                        <td style="width: 40px">{{student.StudentId}}</td>
                        <td style="max-width: 200px">{{student.FullName}}</td>
                        <td ng-repeat="data in student.LabVisitingMark">
                            {{data.Marks}}
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
        <tab heading="Результаты">
            <div id="navPanel" style="margin-top: 10px">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="selectedGroup" ng-options="c.GroupName for c in groups" ng-change="changeGroups()" class="form-control"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Студент</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="student in selectedGroup.Students">
                        <td style="width: 40px">{{student.StudentId}}</td>
                        <td style="max-width: 200px">{{student.FullName}}</td>
                    </tr>
                </table>
            </div>
        </tab>
    </tabset>

    <div id="dialogAddLabs" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{editLabsData.TitleForm}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Название лабораторной работы</label>
                        <textarea class="form-control" style="width: 545px" ng-model="editLabsData.Theme"></textarea>
                    </div>
                    <div>
                        <label class="control-label">Короткое название</label>
                        <input type="text" style="width: 545px" ng-model="editLabsData.ShortName" />
                    </div>
                    <div>
                        <label class="control-label">Порядок (без валидации)</label>
                        <input type="text" style="width: 545px" ng-model="editLabsData.Order" />
                    </div>
                    <div>
                        <label class="control-label">Количество часов (1-99)</label>
                        <input type="text" style="width: 545px" ng-model="editLabsData.Duration" />
                    </div>
                </div>
                <div>
                    <h4 class="page-header">Прикрепленный материал</h4>
                    <div id="labsFile">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <a href="#" class="btn btn-primary btn-sm" ng-click="saveLabs()" data-dismiss="modal">Сохранить</a>
            </div>
        </div>
    </div>
    
    <div id="dialogmanagementData" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px; width: 350px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">График посещения</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="control-label">Дата</label>
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="width: 100%" />
                    </div>
                    <div>
                        <input ng-click="addDate()" type="button" class="btn btn-primary btn-sm" value="Добавить" style="width: 100%" />
                    </div>
                    <div>
                        <label class="control-label">График</label>
                        <div style="max-height: 300px; overflow-y: auto; overflow-x: hidden">
                            <table class="table table-bordered table-striped">
                                <tr ng-repeat="data in selectedSubGroup.ScheduleProtectionLabs">
                                    <td>
                                        <p>{{data.Date}}</p>
                                    </td>
                                    <td style="width: 20px"><a ng-click="" style="margin-right: 10px"><i class="fa fa-edit fa-2x"></i></a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>

</div>


