@using System.Collections.ObjectModel
@using Application.Core.UI.HtmlHelpers
@using LMPlatform.Models
@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
	ViewBag.Title = "SCORM";
}

@section css
{
	
}
@section scripts
{
	
}

@section headerTitle{
	<h1>
		SCORM
		<small>Просмотр SCO объектов</small>
	</h1>
}

@section navleft
{
}



