@using System.Collections.ObjectModel
@using Application.Core.UI.HtmlHelpers
@using LMPlatform.Models
@model LMPlatform.UI.ViewModels.LmsViewModels.LmsViewModel

@{
    ViewBag.Title = "SCORM";
}

@section css
{

}
@section scripts
{
    <script src="~/Scripts/application/scorm/app-scorm.js"></script>
    <script src="~/Scripts/application/scorm/scorm-controller.js"></script>
}

@section headerTitle{
    <h1>SCORM
		<small>Просмотр SCO объектов</small>
    </h1>
}
<div ng-app="scormApp">
    <div ng-controller="ScormController" ng-init="init()">
@section navleft
{
	
}


        <div ng-if="!viewScoClient" style="margin-bottom: 20px">
            <table class="table table-bordered">
                <tr>
                    <th>Название курса</th>
                    <th>Действие</th>
                </tr>
                <tr ng-repeat="object in sco">
                    <td>{{object.Name}}</td>
                    <td style="width: 10px"><a ng-click="viewSco(object)"><i class="fa fa-1x fa-eye"></i></a></td>
                </tr>
            </table>
            <input type="button" ng-click="openSco()" style="width: 150px" class="btn btn-sm btn-primary" value="Загрузить SCO объект" />

            <input type="file" name="openSco" style="display: none;" onchange="angular.element(this).scope().loadSco()" />

        </div>
        <div ng-if="viewScoClient">
            <div>
                <button class="btn btn-sm btn-primary" style="margin-bottom: 10px" ng-click="closeSco()">Закрыть</button>
            </div>
            <div style="float: left;padding: 5px;width: 250px;margin-left: -300px;position: absolute;">
                <ul style=" list-style: none;">
                    <li ng-repeat="tree in treeActivity" style="border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb; padding: 5px;  text-align: right;width: 240px;  margin: 5px 0 5px 0;">
                        <a href="" style="cursor: pointer" ng-click="frameLoad(tree.Url)">{{tree.Name}}</a>
                    </li>
                </ul>
            </div>
            <div style="float: left;width: 100%; height: 100%">
                <iframe width="100%" height="700px" ng-src="{{urlServiceCore}}"></iframe>    
            </div>
            
        </div>

        <div id="dialogLoadSco" class="modal">
            <div class="modal-dialog panel panel-primary" style="padding: 0px">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Имя SCO-объета</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="control-group">
                            <label class="control-label">Имя объета</label>
                            <input type="text" class="form-control" style="width: 545px" ng-model="nameLoadSco" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                    <button ng-click="loadScoEventClick()" class="btn btn-primary btn-sm">Загрузить</button>
                </div>
            </div>
        </div>
    </div>

</div>





