@{
	ViewBag.Title = "Личный кабинет";
	Layout = "~/Views/Shared/Layouts/_MainUsingNavLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundle/accountManagement")
}

@section headerTitle
{
	<h1>Личный кабинет пользователя</h1>
}

@section navleft
{
    <li id="personalData"><a href="#" style="font-size: 16px"><i class="fa fa-male"></i> Персональные данные</a></li>
    <li><a href="@Url.Action("Index", "Lms")" style="font-size: 16px"><i class="fa fa-reply"></i> Главное меню</a></li>
}

<div id="privateData">
</div>

<script>
    $(document).ready(function () {
        $('#personalData').click();
    });
</script>
