@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/Layouts/_PreMainLayout.cshtml";
}

@section navleft
{
    <li><a href="#" style="font-size: 16px"><i class="fa fa-th-list fa-1x"></i> Управление аккаунтом</a></li>
    <li><a href="#" style="font-size: 16px"><i class="fa fa-th-list fa-1x"></i> Сообщения</a></li>
    <li><a href="#" style="font-size: 16px"><i class="fa fa-th-list fa-1x"></i> Управление проектами</a></li>
    <li><a href="@Url.Action("Index", "Lms")" style="font-size: 16px"><i class="fa fa-th-list fa-1x"></i> Система управления учебным процессом</a></li>
}

<div class="conteiner">
</div>
