@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/Layouts/_PreMainLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundle/accountManagement")
}

@section navleft
{
    <li id="personalData"><a href="#" style="font-size: 16px"><i class="fa fa-male fa-1x"></i> Персональные данные</a></li>
    <li><a href="@Url.Action("Index", "Lms")" style="font-size: 16px"><i class="fa fa-reply fa-1x"></i> Главное меню</a></li>
}

<div id="privateData">
</div>

<script>
    $(document).ready(function () {
        $('#personalData').click();
    });
</script>
