<div>
    <div style="padding-bottom: 15px; float:left" ng-show="user.IsLecturer" id="buttonActionSection">
        <a ng-click="editProject()" class="addSubject btn btn-primary btn-sm" data-toggle="tooltip">Добавить тему</a>
    </div>
    <div style="margin-left: 50px; margin-top: 5px; display: inline-block">
        <input id="projects__create-bts" type="checkbox" ng-model="createBtsCheckbox" ng-change="changeBtsCheckbox(createBtsCheckbox)">
        Создаваить проект в BTS при назначении
    </div>
    <div style="padding-bottom: 15px;width:30%; display: inline-block;vertical-align: middle;float:right">
            <label style="width:100%;font-size: 12px;font-weight: normal;display: inline-block;max-width: 100%; margin-bottom: 5px;">
                <input style="margin:0;display:inline-block; width:100%" class="form-control input-sm" type="search" ng-model="searchString" ng-change="search()" placeholder="Поиск темы, студента, группы" autocomplete="off">    
            </label>      
    </div>
    <div style="float:left; width: 100%">
        <div loading-container="tableParams.settings().$loading">
            <table ng-table="tableParams" class="table table-bordered table-striped table-hover dataTable">
                <tr ng-repeat="project in $data">
                    <td style="width:1%;text-align: left;" data-title="'№'">{{$index+1}}</td>
                    <td width="45%" style="text-align: left;" data-title="'Тема курсового проекта (работы)'" sortable="'Theme'">{{project.Theme}}</td>
                    <td width="10%" data-title="'Студент'" sortable="'Student'">{{project.Student}}</td>
                    <td width="8%" data-title="'Группа'" sortable="'Group'">{{project.Group}}</td>
                    <td width="8%" data-title="'Дата'" sortable="'ApproveDate'">{{formatDate(parseDate(project.ApproveDate))}}</td>
                    <td ng-show="user.IsLecturer" width="20%" data-title="'Действие'">
                        <a ng-click="editProject(project.Id)" style="margin-right: 10px">
                            <i tooltip-placement="left" tooltip="Редактировать" class="fa fa-edit fa-2x"></i>
                        </a>
                        <a ng-show="project.Student==null" ng-click="assignProject(project.Id)" style="margin-right: 10px">
                            <i tooltip-placement="left" tooltip="Назначить" class="fa fa-list-alt fa-2x"></i>
                        </a>
                        <a ng-show="project.Student!=null" ng-click="deleteAssignment(project.Id)" style="margin-right: 10px">
                            <i tooltip-placement="left" tooltip="Отменить назначение" class="fa fa-minus-square-o fa-2x"></i>
                        </a>
                        <a ng-show="project.Student !=null" ng-click="downloadTaskSheet(project.Id)" style="margin-right: 10px">
                            <i tooltip-placement="left" tooltip="Скачать лист задания" class="fa fa-download fa-2x"></i>
                        </a>
                        <a ng-click="deleteProject(project.Id)" style="margin-right: 10px">
                            <i tooltip-placement="left" tooltip="Удалить" class="fa fa-trash-o fa-2x"></i>
                        </a>
                        <a ng-show="project.Student!=null && project.ApproveDate == null" ng-click="confirmProject(project.Id)">
                            <i tooltip-placement="left" tooltip="Подтвердить выбранную тему" class="fa fa-check fa-2x"></i>
                        </a>
                    </td>
                    <td ng-show="user.IsStudent && !userHasChosenDiplomProject()" width="10%" data-title="'Действие'">
                        <a ng-show="project.Student==null && !user.HasAssignedDiplomProject" ng-click="chooseProject(project.Id)">
                            <i tooltip-placement="left" tooltip="Выбрать тему" class="fa fa-check fa-2x"></i>
                        </a>
                        <a ng-show="project.StudentId == user.UserId && user.HasAssignedDiplomProject" ng-click="downloadTaskSheet(project.Id)">
                            <i tooltip-placement="left" tooltip="Скачать лист задания" class="fa fa-download fa-2x"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>