<div style="min-height:500px">
    <table style="border:none; width:100%">
        <tr style="border:none; width:100%">
            <td style="border:none; width:100%">
                <div class="col-md-8" style="padding:0; width:100%; height:auto; float:left">
                    <ui-select on-select="selectProject($item)" ng-model="project.Id" theme="bootstrap">
                        <ui-select-match placeholder="Выберите тему курсового проекта (работы)">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in projects | filter: $select.search">
                            <div>{{item.Name}}</div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </td>
            <td style="border:none; width:auto">
                <a ng-show="selectedProjectId" ng-click="downloadTaskSheet()" style="padding: 5px; margin-top:5px; width:100%; display:block; float:left">
                    <i style="font-size: 2.5em" tooltip-placement="left" tooltip="Скачать лист задания" class="fa fa-download fa-2x"></i>
                </a>
            </td>
            <td style="border:none; width:auto">
                <a ng-show="selectedProjectId" ng-click="editTaskSheet()" style="padding: 5px; margin-top:5px; width:100%; display:block; float:left">
                    <i style="font-size: 2.5em" tooltip-placement="left" tooltip="Редактировать" class="fa fa-edit fa-2x"></i>
                </a>
            </td>
        </tr>
    </table>
    <br />
    <div style="width:100%;" ng-bind-html="taskSheetHtml"></div>
</div>