@{
    var userRole = User.IsInRole("student") ? 1 : 0;
}

<div ng-controller="uploadFileCtrl" ng-init="init('@userRole','@WebSecurity.CurrentUserId')">
    <div ng-show="user.IsStudent">
        <div style="margin-top: 20px; margin-bottom: 10px">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Файл</th>
                        <th>Комментарий</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="files in labFilesUser" ng-style="files.IsReceived ? {'background-color': '#befbc2'} : files.IsReturned ? {'background-color': '#FFFF99'} : {}">
                        <td>
                            <div ng-repeat="file in files.Attachments">
                                <a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="file.Name" download="file.Name">{{file.Name}}</a>
                            </div>
                        </td>
                        <td>{{files.Comments}}</td>
                        <td style="width: 90px;">
                            <div ng-if="!files.IsReceived && !files.IsReturned">
                                <a style="margin-right: 10px" ng-click="editLabFiles(files)"><i class="fa fa-edit fa-1x"></i></a>
                                <a ng-click="deleteUserFile(files)"><i class="fa fa-trash-o fa-1x"></i></a>
                            </div>
                            <div ng-if="files.IsReceived">
                                Принято
                            </div>
                            <div ng-if="files.IsReturned">
                                Исправить
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input ng-show="labFilesUser.length == 0 || (labFilesUser.length > 0 && !labFilesUser.some(isReturned))" class="btn btn-sm btn-primary fileinput-button" type="button" ng-click="addLabFiles()" style="width: 200px" value="Добавить работу" />
    </div>
    <div id="dialogAddFiles" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">На защиту Курсовой работы(проекта)</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="control-group">
                        <label class="control-label">Комментарий</label>
                        <textarea class="form-control" style="max-width: 545px; width: 545px;" ng-model="editFileSend.Comments"></textarea>
                    </div>

                </div>

                <div>
                    <label class="control-label">
                        Прикрепленный материал (Можно добавить только один файл)
                    </label>
                    <div id="labsFile">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-sm" id="cancelButton" data-dismiss="modal">Отмена</a>
                <button type="button" ng-click="user.IsStudent ? saveLabFiles(userId): replaceLabFiles(studentId)" class="btn btn-primary btn-sm">Отправить работу</button>
            </div>
        </div>
    </div>
    <div id="dialogPlagiarismSubject" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Проверка на плагиат</h4>
            </div>
            <div class="modal-body">
                <section style="margin-bottom: 20px;">
                    <div class="row margin-top-bottom-5">
                        <div style="display: inline-block; width: auto; padding-left: 15px; padding-right: 5px;">
                            <input type="radio" value="0" checked name="typePlagiarism" style="width: 15px; height: 15px;" class="correctnessIndicator">
                        </div>
                        <div style="display: inline-block;font-size: 16px;">
                            Векторный метод
                        </div>
                    </div>
                    <div class="row margin-top-bottom-5 answerContainer">
                        <div style="display: inline-block; width: auto; padding-left: 15px; padding-right: 5px;">
                            <input type="radio" value="1" name="typePlagiarism" style="width: 15px; height: 15px;" class="correctnessIndicator">
                        </div>
                        <div style="display: inline-block;font-size: 16px;">
                            Метод шинглов
                        </div>
                    </div>
                    <div style="margin-top: 20px">
                        Процент схожести, %
                    </div>
                    <div class="input-group number-spinner" style="width: 145px;">
                        <span class="input-group-btn data-dwn">
                            <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                        <input type="text" style="margin-bottom: 6px;" id="threshold" class="form-control text-center" value="50" min="50" max="100">
                        <span class="input-group-btn data-up">
                            <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                </section>
                <div>
                    <div ng-repeat="cluster in resultPlagiatiumSybject">
                        <p>Кластер {{$index + 1}}</p>

                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>Автор</th>
                                    <th>Группа</th>
                                    <th>Предмет</th>
                                    <th>Файл</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in cluster.correctDocs">
                                    <td>{{data.author}}</td>
                                    <td>{{data.groupName}}</td>
                                    <td>{{data.subjectName}}</td>
                                    <td><a href="/api/Upload?filename={{data.DocPathName}}//{{data.DocFileName}}" title="data.doc" download="data.doc">{{data.doc}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="loadingPSubject ng-hide" style="margin-top: 170px;">
                    <span us-spinner="{radius:40, width:8, length: 16, opacity: 0, shadow: true, color: '#3c8dbc'}" spinner-key="spinner-1" spinner-start-active="true"></span>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary btn-sm" ng-click="loadPlagiarismSubject()">Проверить</a>
                <a class="btn btn-default btn-sm ng-hide" id="exportButton" style="background-color: #ddd;" ng-click="exportPlagiarism()">Отчет</a>
                <a href="#" class="btn btn-default btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>


    <div id="dialogPlagiarism" class="modal">
        <div class="modal-dialog panel panel-primary" style="padding: 0px">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Проверка на плагиат</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div style="text-align: center" class="control-group">
                        {{plagiat.FileName}} - {{plagiat.UserName}}, группа - {{groupWorkingData.selectedGroup.GroupName}}
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-responsive ng-hide" id="table_plagiarism_singleDoc">
                        <thead>
                            <tr>
                                <th>Процент схожести, %</th>
                                <th>Автор</th>
                                <th>Группа</th>
                                <th>Предмет</th>
                                <th>Файл</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in resultPlagiatium">
                                <td style="text-align: center;">{{data.coeff}}</td>
                                <td sortable="'author'">{{data.author}}</td>
                                <td sortable="'groupName'">{{data.groupName}}</td>
                                <td>{{data.subjectName}}</td>
                                <td><a href="/api/Upload?filename={{data.DocPathName}}//{{data.DocFileName}}" title="data.doc" download="data.doc">{{data.doc}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="loadingP ng-hide" style="margin-top: 170px;">
                    <span us-spinner="{radius:40, width:8, length: 16, opacity: 0, shadow: true, color: '#3c8dbc'}" spinner-key="spinner-1" spinner-start-active="true"></span>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default btn-sm ng-hide" id="exportButton" style="background-color: #ddd;" ng-click="exportPlagiarismStudent()">Отчет</a>
                <a href="#" class="btn btn-default btn-sm" id="cancelButton" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>

    @*////////////////////////Lecturer part//////////////////////////*@
<div ng-show="user.IsLecturer">
    <div style="margin-bottom: 15px; margin-top: 15px;">
        <table>
            <tbody>
            <tr>
                <td style="padding-right: 15px">
                    <select ng-model="groupWorkingData.selectedGroup" ng-options="group.GroupName for group in groups" ng-change="loadFilesV2(groupWorkingData.selectedGroup)" class="form-control"></select>
                </td>
                <td style="margin-top: 5px">
                    <a ng-click="saveZip()" class="fa fa-download fa-1x" style="margin-right: 15px; color: #6B8E23" tooltip="Скачать архивом">
                    </a>
                </td>
                <td>
                    <a ng-click="checkPlagiarismSubject()" class="fa fa-eye fa-1x" style="margin-right: 10px; font-size: 27px; cursor: pointer;" tooltip="Проверка на плагиат всех работ"></a>
                </td>
                <td style="margin-top: 5px">
                    <a ng-click="reloadFiles(groupWorkingData.selectedGroup)" class="fa fa-refresh fa-1x" style="margin-left: 5px; margin-right: 10px; font-size: 27px; cursor: pointer; color:cadetblue" tooltip="Обновить данные"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: 10px; margin-bottom: 10px">
        <accordion>
            <accordion-group ng-repeat="data in groupWorkingData.selectedGroup.StudentsFiles">
                <accordion-heading>
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" class="collapsed" style="float: left">{{data.FullName}}</a>
                    </h4>
                    <div class="clear-fix"></div>
                </accordion-heading>
                <div>
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>Файлы</th>
                            <th>Комментарий</th>
                            <th>Дата</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="files in data.FileLabs" ng-style="files.IsReceived ? {'background-color': '#EFFFF8'} : files.IsReturned ? {'background-color': '#FFFF99'} : {}">

                            <td>
                                <div ng-repeat="file in files.Attachments">
                                    <a href="/api/Upload?filename={{file.PathName}}//{{file.FileName}}" title="file.Name" download="file.Name">{{file.Name}}</a>
                                </div>
                            </td>
                            <td>{{files.Comments}}</td>
                            <td>{{files.Date}}</td>
                            <td style="width: 150px; text-align: center">
                                <div ng-if="files.IsReceived && !files.IsReturned">
                                    <a class="fa fa-thumbs-o-down fa-1x" ng-click="cancelReceivedLabFile(files.Id, files)" tooltip="Отклонить работу"></a>
                                    <a ng-if="files.Attachments[0].Name.indexOf('docx') !== -1 || files.Attachments[0].Name.indexOf('doc') !== -1" ng-click="checkPlagiarism(files.Id, files, data.FullName)" class="fa fa-eye fa-1x" style="cursor: pointer; margin-left: 5px;" tooltip="Проверить на плагиат"></a>
                                </div>
                                <div ng-if="!files.IsReceived && !files.IsReturned">
                                    <a class="fa fa-thumbs-o-up fa-1x" ng-click="receivedLabFile(files.Id, files)" tooltip="Принять работу"></a>
                                    <a class="fa fa-arrow-right fa-1x" style="padding-left: 8px" ng-click="returnFile(files.Id, files, data.StudentId)" tooltip="Вернуть работоу"></a>
                                    <a ng-if="files.Attachments[0].Name.indexOf('docx') !== -1 || files.Attachments[0].Name.indexOf('doc') !== -1" ng-click="checkPlagiarism(files.Id, files, data.FullName)" class="fa fa-eye fa-1x" style="cursor: pointer; margin-left: 5px;" tooltip="Проверить на плагиат"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
<script>
    $(function () {
        var action;
        $(".number-spinner button").mousedown(function () {
            btn = $(this);
            input = btn.closest('.number-spinner').find('input');
            btn.closest('.number-spinner').find('button').prop("disabled", false);

            if (btn.attr('data-dir') == 'up') {
                action = setInterval(function () {
                    if (input.attr('max') == undefined || parseInt(input.val()) < parseInt(input.attr('max'))) {
                        input.val(parseInt(input.val()) + 1);
                    } else {
                        btn.prop("disabled", true);
                        clearInterval(action);
                    }
                }, 50);
            } else {
                action = setInterval(function () {
                    if (input.attr('min') == undefined || parseInt(input.val()) > parseInt(input.attr('min'))) {
                        input.val(parseInt(input.val()) - 1);
                    } else {
                        btn.prop("disabled", true);
                        clearInterval(action);
                    }
                }, 50);
            }
        }).mouseup(function () {
            clearInterval(action);
        });
    })
</script>
