@{
	ViewBag.Title = "Главная страница";
	Layout = "~/Views/Shared/Layouts/_StartLayout.cshtml";

}

<style>
	#banner.blue {
		/*background: #267fa6;*/
	}

	#banner {
		position: relative;
		text-align: center;
		padding: 20px 0 0 0;
		min-height: 340px;
	}

	#banner #banner-text {
		float: right;
		margin: 0 auto;
	}

	#banner-text {
		margin-top: 20px;
		padding: 0;
	}

	section.blue {
		color: #fff;
		background: #0082d1;
	}

	#banner img {
		display: block;
		margin: 0 auto;
	}

	#banner img {
		width: auto;
		max-width: 50%;
		max-height: 320px;
	}

	#banner-text h1.icon {
		padding-left: 60px;
	}

	#banner-text h1 {
		color: #fff;
		float: right;
		padding: 5px 20px;
		font-size: 2.8em;
		font-weight: bold;
		position: relative;
	}

	.wrapper {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		clear: both;
	}

	#cmn-video-demo3__video {
		z-index: 1;
		width: 1024px;
		height: auto;
	}

	.tbutton {
		border: 1px solid rgba(0,0,0,0.2);
		box-sizing: content-box !important;
		color: #f5f5f5;
		cursor: pointer;
		display: inline-block;
		padding: 6px 10px;
		text-align: center;
		text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
		text-decoration: none;
		font-size: 12px;
		font-family: 'Calibri';
		white-space: normal;
		outline: none;
		-moz-transition: all 200ms ease 0ms !important;
		-o-transition: all 200ms ease 0ms !important;
		-webkit-transition: all 200ms ease 0ms !important;
		background: none repeat scroll 0 0 rgba(255,255,255,0.04);
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding;
		background-clip: padding-box;
		box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
		-moz-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
		-webkit-box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10x 10px rgba(255,255,255,0.08) inset;
		box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	}

	.tbutton:hover {
		color: #fff;
		text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
		box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
		-moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
		-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	}

	.ghost-button-semi-transparent {
		display: inline-block;
		width: 200px;
		padding: 8px;
		color: #fff;
		border: 2px solid #fff;
		text-align: center;
		outline: none;
		text-decoration: none;
		-webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
		transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
	}

	.ghost-button-semi-transparent:hover,
	.ghost-button-semi-transparent:active {
		color: white;
		background-color: #fff; /* fallback */
		background-color: rgba(255, 255, 255, 0.4);
		border-color: #fff; /* fallback */
		border-color: rgba(255, 255, 255, 0.4);
		-webkit-transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
		transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
	}


	

</style>

@*<div class="row blue" id="banner">
		<div class="col-md-3">
			<img src="/Images/students-icon.svg" style="margin: 20%;">
		</div>
		<div class="col-md-6" >
			<video id="cmn-video-demo3__video" autoplay="" muted="" loop="">
				<source src="LMS_Fitr_BNTU.mp4" type="video/mp4">
			</video>
		</div>

		<div class="col-md-3">
			<img src="/Images/book.png" style="margin: 20%;color: white">

		</div>
	</div>*@
@*<div class="row" style="text-align: center">*@
@*<div style="background: #266945; height: 100%; width: 100%; position: fixed; text-align: center;">
		<h1 style="color: white; font-size: 70px">
			Learning management system
		</h1>
		<a href="@Url.Action("Login", "Account")" class="btn btn-primary" style="height: 100px;width: 300px;padding: 20px;font-size: 35px;">Войти</a>
	</div>
	<div style="background: url('/Images/LMS_Banner.jpg') repeat center; width: 100%; position: absolute; text-align: center;">
			<h1 style="color: white; font-size: 70px">
				Learning management system
			</h1>

		</div>*@
@*<a href="@Url.Action("Login", "Account")" class="tbutton" style="height: 100px;width: 300px;padding: 20px;font-size: 35px;">Войти</a>*@

@*<a class="ghost-button-semi-transparent" style="height: 100px;width: 300px;padding: 20px;font-size: 35px;" href="@Url.Action("Login", "Account")">Начать</a>
	</div>*@
<style>
	/*.layer {
		background: url(/Images/main_t_logo.png) no-repeat  center center fixed;
	}*/

	.new_font {
		font-family: "RobotoCondensed"
	}

	.new_fontR {
		font-family: "Roboto"
	}

</style>
<div class="layer" style="text-align: center;">
	<img src="/Images/main_page_new_logo.png" style="width: 350px; margin-top: 130px; margin-left: 50px"/>
	<p class="new_font" style="color: white; font-size: 29px;">Care about the students</p>
	<p class="new_fontR" style="color: white; font-size: 30px;">Система управления учебным процессом</p>
	<input type="image" src="/Images/play.png" id="popupVideo" data-toggle="modal" data-target="#myModal" name="image" style="width: 150px; height: 150px; margin-left: -50px; margin-top: 10px">
	<div style="margin-top: 50px">
		<a class="btn btn-primary new_font" style="width: 300px; height: 60px; font-size: 29px; margin-left: -50px;" href="@Url.Action("Login", "Account")">Начать работу</a>
	</div>
	<div style="margin-top: 50px">
		<a class="new_font" style="width: 300px; height: 60px; font-size: 29px; margin-left: -50px;" href="Main/downloadapk">Скачать Android версию</a>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width: 900px; margin-top: 115px">
		<div class="modal-content" style="background: transparent; border: none; box-shadow: none; margin-left: -50px;">
			<div class="modal-body" style="height: 470px;">
				<video id="videoLMS" muted="" loop="" style="width: 900px;">
					<source src="CATS_LMS.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</div>

<script>


	$('#myModal').on('show.bs.modal', function (e) {
		$("#videoLMS")[0].play();
	});
	$('#myModal').on('hidden.bs.modal', function (e) {
		$("#videoLMS")[0].pause();
	});
</script>

