.actions-field {
    display:inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.search-field {
    display:inline-block;
    float: right;
}

.search-field input {
    display: inline-block;
    width: 220px;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.number-column {
    text-align: center;
    width: 20px;
}

.project-actions-column {
     width: 83px;
}

.table-actions {
    margin: auto;
}

.table-actions a {
    margin-right: 10px;
}

select {
    margin-top: 15px;
    margin-bottom: 25px;
}

#project-creator-row {
    padding-bottom: 10px;
}

#project-description-row {
    padding-bottom: 10px;
}

.inactive-comment {
    background-color: #dbdbdb;
    font-style: italic;
}

#comments-panel {
    padding: 0px;
}

.file-input {
    position: relative;
    margin-top: 20px;
}

.file-input input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: solid transparent;
    width: 115px;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
    overflow: hidden;
}

.files-table {
    margin-top: 10px;
}
