@model LMPlatform.Models.Student

@{
    ViewBag.Title = "_TestsResultsGridColumn";
}

@{ var percent = 100/Model.User.TestPassResults.Count;}
<div>
    @foreach (var passResult in Model.User.TestPassResults)
    {
        <div style="display: inline-block; width: 30px">
            <div>@passResult.Points</div>
        </div>
    }
</div>
