@model LMPlatform.Models.Student

@{
    ViewBag.Title = "_TestsResultsGridColumn";
}

@{ var percent = 100/Model.User.TestPassResults.Count;}
<div class="ex_highlight_row">
    @foreach (var passResult in Model.User.TestPassResults)
    {
    
        <div style="display: inline-block;">
            <div>@passResult.Points</div>
        </div>
    }
</div>
