@using LMPlatform.Models
@{
    ViewBag.Title = "Прохождение теста";
    Layout = "~/Views/Shared/Layouts/_MainUsingNavLectorLayout.cshtml";
}

@model LMPlatform.Models.KnowledgeTesting.Test


@section scripts
{
    @Scripts.Render("~/Scripts/application/KnowledgeTesting/TestPassingScript.js",
    "~/Scripts/linq.js", "~/Scripts/jquery-ui-1.10.4", "~/Scripts/application/KnowledgeTesting/kkcountdown.js")
}

@section navleft
{
    @{ var url = User.IsInRole("lector")
           ? Url.Action("Index", "Tests", new {subjectId = Model.SubjectId})
           : Url.Action("GetAvailableTests", "TestPassing", new {subjectId = Model.SubjectId}); }
    
    <li><a href="@url" class="linkNavbar"><i class="fa fa-arrow-left fa-1x"></i>&nbsp;К тестам</a></li>
}

<h3>Прохождение теста "@Model.Title"
</h3>
<hr />

<div id="questionContent">
    <h1>Здесь будет описание теста</h1>
    <br />

    <button type="button" id="nextButton" class="btn btn-primary btn-sm">Далее</button>
</div>

